{{=[[ ]]=}}
<dl id="Compose:CL:AddresseeDetails" 
	class="section item opens-modal-form addressee
	[[#preferences]]
	[[#CoverLetter:Addressee]]
	[[#hasPosition]]
		[[#isLeftAligned]]left-align[[/isLeftAligned]]
		[[#isRightAligned]]right-align[[/isRightAligned]]
		[[#isMiddleAligned]]middle-align[[/isMiddleAligned]]
	[[/hasPosition]]
	[[/CoverLetter:Addressee]]
	[[/preferences]]
	"
	data-rel-doc="cl"
	data-rel-clazz="AddresseeDetailsFormView"
	data-rel-form="Form:AddresseeDetails"
	data-rel-section="SkillsPassport.CoverLetter.Addressee"
	data-rel-help-section="Help.CL.SkillsPassport.CoverLetter.Addressee"
	data-rel-index="">
</dl>
