<fieldset class="process" data-active-step="">
	
	<fieldset id="import-wizard-step-1" class="step step1" style="display:none"></fieldset>
	
	<fieldset id="import-wizard-step-2" class="step step2"  style="display:none"></fieldset>

    <fieldset id="import-wizard-step-3" class="step step3"  style="display:none"></fieldset>

</fieldset>

<fieldset class="feedback-area">

</fieldset>


<button type="button" class="button green complete" form="{{formName}}" style="display:none">
	{{get_text "buttons.wizard.close" group="GuiLabel"}}
</button>
<div class="fixed-btn-bg">
<button type="button" class="button green connect" form="{{formName}}" style="display:none">
	{{get_text "buttons.wizard.connect" group="GuiLabel"}}
</button>
</div>
