<div class="cefrgrid">
 	<div class="info-note"></div>
	<div class="rich-content">
 		{{get_text "LearnerInfo.CEFLanguageLevelsGrid.ELP.Note.Prefix" group="GuiLabel"}}
				<button
					rel="tooltip" data-rel-origin="click-origin-controls"
					data-rel-help-section="Help.ELP.LearnerInfo.CEFLanguageLevelsGrid"
					data-rel-section="LearnerInfo.CEFLanguageLevelsGrid"
					data-rel-form="Form:LearnerInfo.CEFLanguageLevelsGrid"
					data-rel-clazz="CEFRGridFormView" data-rel-doc="elp"
					class="cefr-btn opens-modal-form" type="button">
					{{get_text "LearnerInfo.CEFLanguageLevelsGrid.ELP.Note.Opens.Modal" group="GuiLabel"}}
				</button> {{get_text "LearnerInfo.CEFLanguageLevelsGrid.ELP.Note.Postfix" group="GuiLabel"}}
	
 <!-- After Inclusion hide start -->

 {{!--get_text "LearnerInfo.CEFLanguageLevelsGrid" group="GuiLabel" --}}
	</div>
</div>
