<header>
	<section id="page-controls">
		<section id="top-links">
			<ul>
				<li id="contact-us">{{GuiLabel.Visitor:Option:Contact}}</li>
			</ul>
		</section>
		<section id="top-ui-languages">
			TODO: LANGUAGES VIEW + CONTROLLER
		</section>
	</section>
	
	<section id="header-logo-moto">
		<ul>
			<li id="europass-logo"></li>
			<li id="horizontal-line-separator"></li>
			<li id="europass-moto" >{{GuiLabel.EWA.Moto}}</li>
		</ul>
	</section>
	
</header>

<section id="page-notifications" class="notifications"></section>

<nav id="europass-documents">
	TODO: DOCUMENTS VIEW + CONTROLLER
</nav>

<section id="document-import-options">
	TODO: IMPORT OPTIONS VIEW + CONTROLLER
</section>


<article id="current-document">
	TODO: CURRENT DOCUMENT VIEW + CONTROLLER (COMPOSE, DOWNLOAD, ETC.)
	<nav id="related-documents">
		TODO: RELATED DOCUMENTS VIEW + CONTROLLER
	</nav>
	
</article>


<aside id="controls">
	<section id="quick-preview">
		TODO: PREVIEW VIEW + CONTROLLER
	</section>
	<section id="export-options">
		TODO: EXPORT LINKS VIEW + CONTROLLER
	</section>
	<section id="extra-section-options">
		TODO: EXTRA SECTIONS VIEW + CONTROLLER
	</section>
	<section id="saving-options">
		TODO: LOCAL SAVE/DELETE VIEW + CONTROLLER
	</section>
</aside>

<footer id="footer-lower">
	<div class="content">
		<div class="wrapper" id="social-networking">
			<div class="container1">
				<a title="Europass Facebook Page" href="http://www.facebook.com/europasseurope" rel="external" target="_blank">
					<span class="arrow"></span>
					<span class="facebook"></span>
				</a>
			</div>
			<div class="container2">
				<a title="Europass YouTube Page" href="http://www.youtube.com/europasseurope" rel="external" target="_blank">
					<span class="arrow"></span>
					<span class="youtube"></span>
				</a>
			</div>
		</div>
		<p id="developed-by">{{GuiLabel.Editor.Footer.Cedefop.Notice}}</p>
		<p id="copyright">{{GuiLabel.footerCopyright}}</p>
	</div>
</footer>