<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/europass-webapps-services-editors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/europass-webapps-services-editors.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>~%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{20} -- %ex{full}#AdditionalInfo:%msg%n</Pattern>
        </layout>
    </appender>
    <logger name="org.apache.pdfbox.pdmodel.font.PDSimpleFont" level="ERROR" />
    <logger name="europass.ewa.services.resources.AbstractDocumentConversionResource" level="ERROR" />
    <logger name="europass.ewa.services.editor.EditorServicesStartup" level="DEBUG"/>
    <logger name="europass.ewa.statistics.utils.ValidationUtils" level="WARN" />
    <logger name="europass.ewa.services.editor.resources" level="DEBUG"/>
    <logger name="europass.ewa.services.editor.messages" level="DEBUG"/>
    <logger name="europass.ewa.services.editor.files" level="DEBUG"/>
    <logger name="europass.ewa.model" level="DEBUG"/>
    <logger name="europass.ewa.services.files" level="DEBUG"/>
    <logger name="europass.ewa.services.editor.jobs" level="DEBUG"/>
    <root level="ERROR">
        <appender-ref ref="stdout" />
        <appender-ref ref="fout" />
    </root>
</configuration>