target
nb-configuration.xml
nbactions.xml
.idea/
*.iml
editors/src/main/webapp/static/ewa/scripts/
editors/src/main/webapp/static/ewa/styles/
editors/src/main/webapp/WEB-INF/pages/
editors/src/main/resources/ewa-editors-config.properties
editors/src/main/resources/ewa-remote-upload-partners.properties
editors/src/main/resources/cloud-share-config/google-service-account-key-development.json
editors/src/main/resources/cloud-share-config/google-service-account-key-staging.json
editors/src/main/resources/cloud-share-config/google-service-account-key-production.json
editors/src/main/webapp/stats/stats-config.properties
internationalisation/extraction/src/main/resources/config.properties
internationalisation/templates/src/main/resources/config.properties
office/server/src/main/resources/config.properties
services/editors/src/main/resources/config.properties
services/rest/src/main/resources/config.properties
services/statistics/src/main/resources/config.properties
tools/zanataLiteralsUpdate/src/main/resources/config.properties
tools/ganalytics/src/test/resources/analytics.properties
tools/ganalytics/src/test/resources/client_secrets.json
tools/ganalytics/src/test/resources/europass.analytics.p12