
<h2 style="display:none;"><abbr title="Europass Skills Passport">ESP</abbr>t</h2>

<div class="esp compose">

<!-- 	<header class="document">
		<div class="cv_logo"></div>
		<div class="europass_skills_passport">{{get_text "European.Skills.Passport" group="DocumentLabel"}}</div>
		<div class="clear"></div>
	</header> -->
	
	<div class="thumbnail_container">
		<dl id="Compose:Esp.Attachment" 
			class="subsection-container section"
			data-rel-doc="attachment"
			data-rel-clazz="AttachmentFormView"
			data-rel-form="Form:Attachment"
			data-rel-section="SkillsPassport.LearnerInfo.ReferenceTo"
			data-rel-help-section="Help.Add.ESP.Attachment"
			data-rel-index="">
		</dl>
	</div>
	
	<div class="clear"></div>
</div>
<!--  footer -->
{{> templates/compose/footer}}

