<span class="formatSelection">
{{#if Code}}<span class="Code">{{Code}}</span>{{/if}}
{{#if CodeLabel}}<span class="short-key-label">{{CodeLabel}}</span>{{/if}}
{{#if Level}}<span class="level">{{Level}}</span>{{/if}}
</span>