body {
    background: #ffffff;
    color: #222222;
    cursor: auto;
    font-family: "Noto sans";
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    position: relative;
}
footer,
header,
main,
nav,
section {
    display: block;
}
a {
    background-color: transparent;
    color: #005aa9;
    line-height: inherit;
    text-decoration: none;
}
a:active {
    outline: 0px;
}
a:hover {
    color: #4d8cc3;
    cursor: pointer;
    outline: 0px;
}
a img {
    border: none;
}
b {
    font-weight: bold;
    line-height: inherit;
}
h1 {
    color: #4d4d4d;
    font-family: "Noto sans";
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.1rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    margin-top: 2rem;
    margin: 0.67em 0px;
    text-rendering: optimizeLegibility;
}
img {
    border: 0px;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.row {
    margin: 0px auto;
    max-width: 83.75rem;
    width: 100%;
}
.row::before {
    content: " ";
    display: table;
}
.row::after {
    clear: both;
    content: " ";
    display: table;
}
.columns {
    float: left;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    width: 100%;
}
.contain-to-grid {
    background: #ffffff;
    width: 100%;
}
.contain-to-grid .top-bar {
    margin-bottom: 0px;
}
.top-bar {
    background: #ffffff;
    line-height: 3.125rem;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
}
.top-bar ul {
    list-style: none;
    margin-bottom: 0px;
}
.top-bar .title-area {
    margin: 0px;
    position: relative;
    transition: margin 300ms ease-out, 0.1s ease-out 300ms;
}
.top-bar .name {
    font-size: 16px;
    height: auto;
    margin: 0px;
}
.top-bar .name h1 {
    border: 0px;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}
.top-bar .name h1 a {
    color: #005aa9;
    display: block;
    display: inline-block;
    font-weight: normal;
    padding: 0px 1rem;
    width: 75%;
}
.top-bar .name h1 a img {
    margin: 20px 0px;
    width: 255px;
}
.top-bar .name h1 a span {
    color: #669ccb;
    font-size: 0.875rem;
    font-style: italic;
    letter-spacing: normal;
    line-height: 1;
    margin: 0px 0px 0px 1.25rem;
    transition: font-size 300ms ease-out, 0.1s ease-out 300ms;
    vertical-align: text-top;
    width: 10.625rem;
}
ul {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.5625rem;
    margin-left: 3rem;
}
.l-main .main {
    background: #f2f7fb;
    margin: 3rem 0px;
    overflow-x: hidden;
    padding-bottom: 3.75rem;
    padding-top: 5rem;
}
.l-main .main:not(iframe) {
    position: relative;
    z-index: 1;
}
.l-main .main::before {
    border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    border-width: 0px 83.75rem 3.125rem 0px;
    content: "";
    display: block;
    height: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
    z-index: 2;
}
.l-main .main::after {
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 0px 0px 3.125rem 83.75rem;
    bottom: 0px;
    content: "";
    height: 0px;
    position: absolute;
    right: 0px;
    width: 0px;
    z-index: 1;
}
h1#page-title {
    border-bottom: 7px solid #ffca05;
    color: #333333;
    margin: 0px 0px 3rem;
    padding: 0px 0px 1.5625rem;
}
.l-header .top-bar {
    border-bottom: 1px solid #80add4;
}
.l-footer {
    border-top: 1px solid #80add4;
    font-size: 0.75rem;
    margin: 2.475rem auto;
    padding: 2.475rem 0px 0px;
    position: relative;
}
.l-footer p {
    font-size: 0.75rem;
    margin-bottom: 0px;
}
.l-footer .copyright {
    z-index: 0;
}
.l-footer img {
    margin-top: 15px;
}
