<section id="waiting-indicator-cloud">	
	<div class="background-loader">
		<div class="loader-logo">
		</div>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<p class="cloud-is-loading-text">{{get_text "connecting.to.cloud.account" group="Notification"}}<span class="loading-dots"/></p>
	</div>
</section>