<section id="cloud-login-feature-tooltip" class="info">
	<button type="button" class="cookie-tooltip close"></button>
	<div class="message-area">
		<span class="cloud-tooltip-new-feature">{{get_text "cloudLogin.tooltip.feature" group="GuiLabel"}}</span>
		<span class="cloud-tooltip-sign-in">{{get_text "cloudLogin.drawer.signIn.heading.bold" group="GuiLabel"}}</span>
		<span class="cloud-tooltip-main">{{get_text "cloudLogin.drawer.signIn.heading.description" group="EditorHelp"}}</span>
		<span class="tooltip-sign-in">{{get_text "EWA.CloudLogin.SignIn" group="GuiLabel"}}</span>
	</div>	
</section>