<section id="publish-providers-tooltip" class="info">
    <button type="button" id="publish-providers-tooltip-close"></button>
    <div class="message-area">
        <span class="providers-tooltip-title"><b>{{get_text "publish.providers.tooltip.title" group="GuiLabel"}}</b></span>
        <span class="providers-tooltip-options">{{get_text "publish.providers.tooltip.description" group="GuiLabel"}}</span>
        <span class="providers-tooltip-services-icons">
            <div class="icon icon-eures"></div>
            <div class="icon icon-monster"></div>
            <div class="icon icon-xing"></div>
        </span>
        <span class="providers-tooltip-apply-btn">{{get_text "publish.providers.tooltip.link.more" group="GuiLabel"}}</span>
    </div>
</section>