<?xml version="1.0" encoding="UTF-8"?>
<office:document-content xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
    xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
    xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
    xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
    xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
    xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0"
    xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0"
    xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0"
    xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
    xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
    xmlns:math="http://www.w3.org/1998/Math/MathML"
    xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0"
    xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0"
    xmlns:ooo="http://openoffice.org/2004/office" xmlns:ooow="http://openoffice.org/2004/writer"
    xmlns:oooc="http://openoffice.org/2004/calc" xmlns:dom="http://www.w3.org/2001/xml-events"
    xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:rpt="http://openoffice.org/2005/report"
    xmlns:of="urn:oasis:names:tc:opendocument:xmlns:of:1.2"
    xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:grddl="http://www.w3.org/2003/g/data-view#"
    xmlns:officeooo="http://openoffice.org/2009/office"
    xmlns:tableooo="http://openoffice.org/2009/table"
    xmlns:drawooo="http://openoffice.org/2010/draw"
    xmlns:calcext="urn:org:documentfoundation:names:experimental:calc:xmlns:calcext:1.0"
    xmlns:field="urn:openoffice:names:experimental:ooo-ms-interop:xmlns:field:1.0"
    xmlns:formx="urn:openoffice:names:experimental:ooxml-odf-interop:xmlns:form:1.0"
    xmlns:css3t="http://www.w3.org/TR/css3-text/" office:version="1.2">
    <office:scripts/>
    <office:font-face-decls>
        <style:font-face style:name="Arial-BoldMT" svg:font-family="Arial-BoldMT, sans-serif"/>
        <style:font-face style:name="Calibri" svg:font-family="Calibri, sans-serif"/>
        <style:font-face style:name="Mangal1" svg:font-family="Mangal"/>
        <style:font-face style:name="Arial3" svg:font-family="Arial" style:font-adornments="Regular"
            style:font-family-generic="swiss"/>
        <style:font-face style:name="Tuffy" svg:font-family="Tuffy, Tuffy"
            style:font-family-generic="swiss"/>
        <style:font-face style:name="Times New Roman"
            svg:font-family="&apos;Times New Roman&apos;" style:font-family-generic="roman"
            style:font-pitch="variable"/>
        <style:font-face style:name="Arial" svg:font-family="Arial"
            style:font-family-generic="swiss" style:font-pitch="variable"/>
        <style:font-face style:name="Arial2" svg:font-family="Arial" style:font-adornments="Bold"
            style:font-family-generic="swiss" style:font-pitch="variable"/>
        <style:font-face style:name="Arial1" svg:font-family="Arial" style:font-adornments="Regular"
            style:font-family-generic="swiss" style:font-pitch="variable"/>
        <style:font-face style:name="Mangal" svg:font-family="Mangal"
            style:font-family-generic="system" style:font-pitch="variable"/>
        <style:font-face style:name="Microsoft YaHei"
            svg:font-family="&apos;Microsoft YaHei&apos;" style:font-family-generic="system"
            style:font-pitch="variable"/>
        <style:font-face style:name="SimSun" svg:font-family="SimSun"
            style:font-family-generic="system" style:font-pitch="variable"/>
    </office:font-face-decls>
    <office:automatic-styles>
        <style:style style:name="Table5" style:family="table"
            style:master-page-name="_5f_ELP_5f_1stPage">
            <style:table-properties style:width="18cm" fo:margin-left="0cm" fo:margin-top="0cm"
                fo:margin-bottom="0cm" style:page-number="auto" table:align="left"
                fo:keep-with-next="auto" style:may-break-between-rows="false"
                table:border-model="separating"/>
        </style:style>
        <style:style style:name="Table5.A" style:family="table-column">
            <style:table-column-properties style:column-width="8.98cm"/>
        </style:style>
        <style:style style:name="Table5.B" style:family="table-column">
            <style:table-column-properties style:column-width="9.021cm"/>
        </style:style>
        <style:style style:name="Table5.1" style:family="table-row">
            <style:table-row-properties style:min-row-height="1.3cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A1" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="bottom"
                fo:background-color="transparent" fo:padding="0cm" fo:border="none"
                style:writing-mode="lr-tb">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.2" style:family="table-row">
            <style:table-row-properties style:row-height="0.499cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A2" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle"
                fo:background-color="transparent" fo:padding="0cm" fo:border="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.3" style:family="table-row">
            <style:table-row-properties style:row-height="0.199cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A3" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="bottom"
                fo:background-color="transparent" fo:padding="0.049cm" fo:border-left="none"
                fo:border-right="none" fo:border-top="1pt solid #1093cb" fo:border-bottom="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.4" style:family="table-row">
            <style:table-row-properties style:row-height="0.75cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle"
                fo:background-color="transparent" fo:padding="0cm" fo:border="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.B4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle"
                fo:background-color="transparent" fo:padding="0cm"
                fo:border-left="1pt solid #1093cb" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.5" style:family="table-row">
            <style:table-row-properties style:min-row-height="1.002cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:background-color="transparent"
                fo:padding-left="0.06cm" fo:padding-right="0.06cm" fo:padding-top="0cm"
                fo:padding-bottom="0cm" fo:border="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.B5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:background-color="transparent"
                fo:padding-left="0.06cm" fo:padding-right="0.06cm" fo:padding-top="0cm"
                fo:padding-bottom="0cm" fo:border-left="1pt solid #1093cb" fo:border-right="none"
                fo:border-top="none" fo:border-bottom="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.6" style:family="table-row">
            <style:table-row-properties style:row-height="0.3cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table5.A6" style:family="table-cell">
            <style:table-cell-properties fo:background-color="transparent" fo:padding="0cm"
                fo:border="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.B6" style:family="table-cell">
            <style:table-cell-properties fo:background-color="transparent" fo:padding="0cm"
                fo:border-left="1pt solid #1093cb" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="none">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table5.A7" style:family="table-cell">
            <style:table-cell-properties fo:background-color="transparent" fo:padding="0.049cm"
                fo:border-left="none" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #1093cb">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table1" style:family="table">
            <style:table-properties style:width="18cm" fo:margin-left="0cm" fo:margin-top="0cm"
                fo:margin-bottom="0cm" table:align="left" fo:keep-with-next="auto"
                style:may-break-between-rows="true" table:border-model="collapsing"/>
        </style:style>
        <style:style style:name="Table1.A" style:family="table-column">
            <style:table-column-properties style:column-width="3.591cm"/>
        </style:style>
        <style:style style:name="Table1.B" style:family="table-column">
            <style:table-column-properties style:column-width="2.798cm"/>
        </style:style>
        <style:style style:name="Table1.C" style:family="table-column">
            <style:table-column-properties style:column-width="0.799cm"/>
        </style:style>
        <style:style style:name="Table1.D" style:family="table-column">
            <style:table-column-properties style:column-width="3.598cm"/>
        </style:style>
        <style:style style:name="Table1.E" style:family="table-column">
            <style:table-column-properties style:column-width="1.997cm"/>
        </style:style>
        <style:style style:name="Table1.F" style:family="table-column">
            <style:table-column-properties style:column-width="1.602cm"/>
        </style:style>
        <style:style style:name="Table1.G" style:family="table-column">
            <style:table-column-properties style:column-width="1.399cm"/>
        </style:style>
        <style:style style:name="Table1.H" style:family="table-column">
            <style:table-column-properties style:column-width="2.217cm"/>
        </style:style>
        <style:style style:name="Table1.1" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.9cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A1" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:background-color="#f3f3f4"
                fo:padding-left="0.3cm" fo:padding-right="0.3cm" fo:padding-top="0.199cm"
                fo:padding-bottom="0.199cm" fo:border="1pt solid #bcbdc0">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table1.2" style:family="table-row">
            <style:table-row-properties style:row-height="0.85cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A2" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.3" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.75cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A3" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.D3" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.G3" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.4" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.501cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.B4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.D4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.E4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.G4" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.A5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.B5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.D5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.E5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.G5" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.A6" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.7" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.801cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A7" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.C7" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.F7" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.H7" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.8" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.6cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A8" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.C8" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.F8" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.H8" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.A9" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding-left="0.3cm"
                fo:padding-right="0.3cm" fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table1.10" style:family="table-row">
            <style:table-row-properties style:row-height="0.801cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table1.A10" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle"
                fo:background-color="transparent" fo:padding-left="0.3cm" fo:padding-right="0.3cm"
                fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table1.F10" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle"
                fo:background-color="transparent" fo:padding-left="0.3cm" fo:padding-right="0.3cm"
                fo:padding-top="0.199cm" fo:padding-bottom="0.199cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="1pt solid #bcbdc0"
                fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:name="Table1.11" style:family="table-row">
            <style:table-row-properties style:min-row-height="0.011cm" fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table8" style:family="table"
            style:master-page-name="_5f_ELP_5f_Self-assesment_5f_grid_5f_Page">
            <style:table-properties style:width="26.712cm" fo:margin-left="0cm"
                style:page-number="auto" fo:break-before="auto" fo:break-after="auto"
                table:align="left" fo:keep-with-next="always" style:may-break-between-rows="false"/>
        </style:style>
        <style:style style:name="Table8.A" style:family="table-column">
            <style:table-column-properties style:column-width="0.665cm"/>
        </style:style>
        <style:style style:name="Table8.B" style:family="table-column">
            <style:table-column-properties style:column-width="2.037cm"/>
        </style:style>
        <style:style style:name="Table8.C" style:family="table-column">
            <style:table-column-properties style:column-width="4.001cm"/>
        </style:style>
        <style:style style:name="Table8.D" style:family="table-column">
            <style:table-column-properties style:column-width="3.829cm"/>
        </style:style>
        <style:style style:name="Table8.E" style:family="table-column">
            <style:table-column-properties style:column-width="4.175cm"/>
        </style:style>
        <style:style style:name="Table8.F" style:family="table-column">
            <style:table-column-properties style:column-width="4.002cm"/>
        </style:style>
        <style:style style:name="Table8.G" style:family="table-column">
            <style:table-column-properties style:column-width="3.935cm"/>
        </style:style>
        <style:style style:name="Table8.H" style:family="table-column">
            <style:table-column-properties style:column-width="4.068cm"/>
        </style:style>
        <style:style style:name="Table8.1" style:family="table-row">
            <style:table-row-properties fo:keep-together="always"/>
        </style:style>
        <style:style style:name="Table8.A1" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.071cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H1" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.071cm" fo:border="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.A2" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding="0.071cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.B2" style:family="table-cell">
            <style:table-cell-properties style:vertical-align="middle" fo:padding="0.071cm"
                fo:border-left="1pt solid #bcbdc0" fo:border-right="none"
                fo:border-top="1pt solid #bcbdc0" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.C2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.D2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.E2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.F2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.G2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="1pt solid #bcbdc0"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H2" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.C3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.D3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.E3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.F3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.G3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H3" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="1pt solid #bcbdc0" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.C4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.D4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.E4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.F4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.G4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H4" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="1pt solid #bcbdc0" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.C5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.D5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.E5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.F5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.G5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H5" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="1pt solid #bcbdc0" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.C6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.D6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.E6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.F6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.G6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="none" fo:border-top="none" fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="Table8.H6" style:family="table-cell">
            <style:table-cell-properties fo:padding="0.15cm" fo:border-left="1pt solid #bcbdc0"
                fo:border-right="1pt solid #bcbdc0" fo:border-top="none"
                fo:border-bottom="1pt solid #bcbdc0"/>
        </style:style>
        <style:style style:name="P1" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Common_5f_footer_5f_text">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
        </style:style>
        <style:style style:name="P2" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Common_5f_footer_5f_copyright">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P3" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Common_5f_Pages_5f_page_5f_number">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P4" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Common_5f_Pages_5f_Header">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
            <style:text-properties style:font-name="Arial1" fo:font-size="14pt"
                style:font-size-asian="10.5pt"/>
        </style:style>
        <style:style style:name="P5" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Self-assesment_5f_grid_5f_footer">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P6" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Self-assesment_5f_page_5f_number">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P7" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Grid_5f_icon_5f_label">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P8" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Summary_5f_Languages">
            <style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm"
                style:contextual-spacing="false"/>
        </style:style>
        <style:style style:name="P9" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Self-assesment_5f_grid_5f_Title">
            <style:paragraph-properties text:number-lines="false" text:line-number="0">
                <style:tab-stops>
                    <style:tab-stop style:position="8.5cm" style:type="center"/>
                    <style:tab-stop style:position="17cm" style:type="right"/>
                </style:tab-stops>
            </style:paragraph-properties>
        </style:style>
        <style:style style:name="P10" style:family="paragraph"
            style:parent-style-name="Table_20_Contents">
            <style:paragraph-properties fo:text-align="start" style:justify-single-word="false"/>
        </style:style>
        <style:style style:name="P11" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_content_5f_left_5f_aligned">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0.012cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
            <style:text-properties fo:color="#363534" style:font-name="Arial1" fo:font-size="8pt"
                fo:letter-spacing="-0.011cm"/>
        </style:style>
        <style:style style:name="P12" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_content_5f_left_5f_aligned">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0.012cm"
                fo:line-height="100%" fo:text-align="center" style:justify-single-word="false"
                fo:text-indent="0cm" style:auto-text-indent="false"
                style:snap-to-layout-grid="false"/>
            <style:text-properties fo:color="#363534" style:font-name="Arial1" fo:font-size="8pt"
                fo:letter-spacing="-0.011cm"/>
        </style:style>
        <style:style style:name="P13" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_titles_5f_center_5f_aligned">
            <style:paragraph-properties fo:text-align="center" style:justify-single-word="false"
                style:shadow="none" text:number-lines="false" text:line-number="0"
                style:punctuation-wrap="hanging" style:vertical-align="baseline"
                style:snap-to-layout-grid="false"/>
            <style:text-properties style:font-name="Arial1"/>
        </style:style>
        <style:style style:name="P14" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_titles_5f_center_5f_aligned">
            <style:paragraph-properties fo:margin-left="-0.011cm" fo:margin-right="0.012cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
        </style:style>
        <style:style style:name="P15" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_titles_5f_left_5f_alinged">
            <style:paragraph-properties fo:margin-left="-0.011cm" fo:margin-right="0.012cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
        </style:style>
        <style:style style:name="P16" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_titles_5f_center_5f_aligned">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="-0.012cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
        </style:style>
        <style:style style:name="P17" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_level_5f_label">
            <style:paragraph-properties fo:margin-left="-0.123cm" fo:margin-right="-0.123cm"
                fo:margin-top="0cm" fo:margin-bottom="0cm" style:contextual-spacing="false"
                fo:text-align="center" style:justify-single-word="false" fo:text-indent="0cm"
                style:auto-text-indent="false" style:snap-to-layout-grid="false"/>
            <style:text-properties fo:color="#000000" style:font-name="Arial1" fo:font-size="8pt"
                fo:letter-spacing="-0.011cm"/>
        </style:style>
        <style:style style:name="P18" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_level">
            <style:paragraph-properties fo:margin-left="-0.123cm" fo:margin-right="-0.123cm"
                fo:text-align="center" style:justify-single-word="false" fo:text-indent="0cm"
                style:auto-text-indent="false" style:snap-to-layout-grid="false"/>
            <style:text-properties style:font-name="Arial1"/>
        </style:style>
        <style:style style:name="P19" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_titles_5f_left_5f_alinged">
            <style:paragraph-properties fo:margin-left="-0.012cm" fo:margin-right="0.011cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
        </style:style>
        <style:style style:name="P20" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Table_5f_Titles">
            <style:paragraph-properties style:register-true="false"/>
        </style:style>
        <style:style style:name="P21" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Grid_5f_CEF">
            <style:paragraph-properties style:snap-to-layout-grid="false"/>
            <style:text-properties style:font-name="Arial1" style:font-size-asian="7pt"
                style:font-size-complex="7pt"/>
        </style:style>
        <style:style style:name="P22" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Summary_5f_Name">
            <style:text-properties officeooo:paragraph-rsid="001cd995"/>
        </style:style>
        <style:style style:name="P23" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Experience">
            <style:paragraph-properties fo:text-align="start" style:justify-single-word="false"
                style:shadow="none" text:number-lines="false" text:line-number="0"
                style:punctuation-wrap="hanging" style:vertical-align="baseline"
                style:snap-to-layout-grid="false"/>
            <style:text-properties officeooo:paragraph-rsid="001cd995"/>
        </style:style>
        <style:style style:name="P24" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_content_5f_left_5f_aligned">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0.012cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
            <style:text-properties officeooo:paragraph-rsid="001cd995"/>
        </style:style>
        <style:style style:name="P25" style:family="paragraph"
            style:parent-style-name="_5f_ELP_5f_Common_5f_footer_5f_text">
            <style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0cm"
                fo:text-indent="0cm" style:auto-text-indent="false"/>
            <style:text-properties officeooo:paragraph-rsid="001cd995"/>
        </style:style>
        <style:style style:name="T1" style:family="text">
            <style:text-properties fo:font-size="14pt" style:font-size-asian="14pt"
                style:font-size-complex="14pt"/>
        </style:style>
        <style:style style:name="T2" style:family="text">
            <style:text-properties style:font-name="Calibri" fo:font-size="11pt"/>
        </style:style>
        <style:style style:name="T3" style:family="text">
            <style:text-properties fo:color="#3f3a38" style:font-name="Arial-BoldMT"
                fo:font-size="8pt" fo:letter-spacing="normal" fo:font-weight="bold"/>
        </style:style>
        <style:style style:name="T4" style:family="text">
            <style:text-properties fo:color="#3f3a38" style:font-name="Arial-BoldMT"
                fo:font-size="8pt" fo:letter-spacing="normal" fo:font-weight="bold"
                style:font-name-asian="Tuffy" style:font-size-asian="9pt"
                style:font-name-complex="Tuffy" style:font-size-complex="9pt"/>
        </style:style>
        <style:style style:name="T5" style:family="text">
            <style:text-properties fo:color="#3f3a38" style:font-name="Arial-BoldMT"
                fo:font-size="8pt" fo:letter-spacing="normal" fo:font-weight="bold"
                style:font-name-asian="Tuffy" style:font-size-asian="8pt"
                style:font-weight-asian="normal" style:font-name-complex="Tuffy"
                style:font-size-complex="8pt" style:font-weight-complex="normal"/>
        </style:style>
        <style:style style:name="T6" style:family="text">
            <style:text-properties fo:color="#3f3a38" style:font-name="Arial-BoldMT"
                fo:font-size="8pt" fo:letter-spacing="normal" fo:font-weight="normal"
                style:font-weight-asian="normal" style:font-weight-complex="normal"/>
        </style:style>
        <style:style style:name="T7" style:family="text">
            <style:text-properties fo:color="#3f3a38" style:font-name="Arial-BoldMT"
                fo:font-size="8pt" fo:letter-spacing="normal" fo:font-weight="normal"
                officeooo:rsid="001cd995" style:font-name-asian="Tuffy" style:font-size-asian="8pt"
                style:font-weight-asian="normal" style:font-name-complex="Tuffy"
                style:font-size-complex="8pt" style:font-weight-complex="normal"/>
        </style:style>
        <style:style style:name="T8" style:family="text">
            <style:text-properties style:font-name="Arial3"/>
        </style:style>
        <style:style style:name="T9" style:family="text">
            <style:text-properties officeooo:rsid="001cd995"/>
        </style:style>
        <style:style style:name="T10" style:family="text">
            <style:text-properties officeooo:rsid="001cf34b"/>
        </style:style>
        <style:style style:name="fr1" style:family="graphic" style:parent-style-name="Graphics">
            <style:graphic-properties style:wrap="parallel" style:number-wrapped-paragraphs="1"
                style:wrap-contour="false" style:vertical-pos="from-top"
                style:vertical-rel="paragraph" style:horizontal-pos="from-left"
                style:horizontal-rel="paragraph" style:shadow="none" style:mirror="none"
                fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%"
                draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%"
                draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
        </style:style>
        <style:style style:name="fr2" style:family="graphic" style:parent-style-name="Graphics">
            <style:graphic-properties fo:margin-left="0cm" fo:margin-right="0cm" style:wrap="none"
                style:vertical-pos="middle" style:vertical-rel="text" style:horizontal-pos="center"
                style:horizontal-rel="paragraph" style:mirror="none"
                fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%"
                draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%"
                draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
        </style:style>
        <style:style style:name="fr3" style:family="graphic" style:parent-style-name="Graphics">
            <style:graphic-properties fo:margin-top="0cm" fo:margin-bottom="0.101cm"
                style:vertical-pos="middle" style:vertical-rel="text" style:horizontal-pos="center"
                style:horizontal-rel="paragraph" style:mirror="none"
                fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%"
                draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%"
                draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
        </style:style>
        <style:style style:name="fr4" style:family="graphic" style:parent-style-name="Graphics">
            <style:graphic-properties fo:margin-top="0cm" fo:margin-bottom="0.3cm" style:wrap="none"
                style:vertical-pos="top" style:vertical-rel="baseline" style:horizontal-pos="center"
                style:horizontal-rel="paragraph" style:mirror="none"
                fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%"
                draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%"
                draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
        </style:style>
        <style:style style:name="fr5" style:family="graphic" style:parent-style-name="Graphics">
            <style:graphic-properties fo:margin-top="0cm" fo:margin-bottom="0.3cm"
                style:vertical-pos="top" style:vertical-rel="baseline" style:horizontal-pos="center"
                style:horizontal-rel="paragraph" style:mirror="none"
                fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%"
                draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%"
                draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
        </style:style>
    </office:automatic-styles>
    <office:body>
        <office:text text:use-soft-page-breaks="true">
            <office:forms form:automatic-focus="false" form:apply-design-mode="false"/>
            <text:sequence-decls>
                <text:sequence-decl text:display-outline-level="0" text:name="Illustration"/>
                <text:sequence-decl text:display-outline-level="0" text:name="Table"/>
                <text:sequence-decl text:display-outline-level="0" text:name="Text"/>
                <text:sequence-decl text:display-outline-level="0" text:name="Drawing"/>
            </text:sequence-decls>
            <table:table table:name="Table5" table:style-name="Table5">
                <table:table-column table:style-name="Table5.A"/>
                <table:table-column table:style-name="Table5.B"/>
                <table:table-row table:style-name="Table5.1">
                    <table:table-cell table:style-name="Table5.A1" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P22">
                            <text:span text:style-name="T9">{{{Template_Template:LearnerInfo:Identification:PersonName:FirstName}}}</text:span>
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table5.2">
                    <table:table-cell table:style-name="Table5.A2" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="Table_20_Contents"/>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table5.3">
                    <table:table-cell table:style-name="Table5.A3" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_titles_5f_center_5f_aligned"/>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table5.4">
                    <table:table-cell table:style-name="Table5.A4" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_titles_5f_center_5f_aligned">{{{LearnerInfo:Skills:Linguistic:MotherTongue}}}
             			</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table5.B4" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_titles_5f_center_5f_aligned">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table5.5">
                    <table:table-cell table:style-name="Table5.A5" office:value-type="string">
                        <text:p text:style-name="P8">{{{Template_Template:LearnerInfo:Skills:Linguistic:MotherTongue}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table5.B5" office:value-type="string">
                        <text:p text:style-name="P8">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table5.6">
                    <table:table-cell table:style-name="Table5.A6" office:value-type="string">
                        <text:p text:style-name="P10"/>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table5.B6" office:value-type="string">
                        <text:p text:style-name="P10"/>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table5.3">
                    <table:table-cell table:style-name="Table5.A7" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P10"/>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
            </table:table>
            <text:p text:style-name="_5f_ELP_5f_table_5f_above_5f_below"/>
            <table:table table:name="Table1" table:style-name="Table1">
                <table:table-column table:style-name="Table1.A"/>
                <table:table-column table:style-name="Table1.B"/>
                <table:table-column table:style-name="Table1.C"/>
                <table:table-column table:style-name="Table1.D"/>
                <table:table-column table:style-name="Table1.E"/>
                <table:table-column table:style-name="Table1.F"/>
                <table:table-column table:style-name="Table1.G"/>
                <table:table-column table:style-name="Table1.H"/>
                <table:table-row table:style-name="Table1.1">
                    <table:table-cell table:style-name="Table1.A1" table:number-columns-spanned="8"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Table_5f_Language">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Replace}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.2">
                    <table:table-cell table:style-name="Table1.A9" table:number-columns-spanned="8"
                        office:value-type="string">
                        <text:p text:style-name="P20">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:SelfAssessment}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.3">
                    <table:table-cell table:style-name="Table1.A3" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_titles_5f_center_5f_aligned"
                            >{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Understanding:elp}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.D3" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_titles_5f_center_5f_aligned"
                            >{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Speaking:elp}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.G3" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P13">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Writing:elp}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.4">
                    <table:table-cell table:style-name="Table1.A5" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">
                            <draw:frame draw:style-name="fr3" draw:name="graphics2"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="1">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003BED4460AE.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Listening}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table1.B5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">
                            <draw:frame draw:style-name="fr3" draw:name="graphics3"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="2">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B203E2C7D.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Reading}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.E5" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">
                            <draw:frame draw:style-name="fr3" draw:name="graphics5"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="3">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003BDA520367.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenInteraction}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table1.E5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">
                            <draw:frame draw:style-name="fr3" draw:name="graphics6"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="4">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B7A2E4E62.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenProduction}}}
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.G5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">
                            <draw:frame draw:style-name="fr3" draw:name="graphics7"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="5">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B6666A890.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Writing:elp}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.4">
                    <table:table-cell table:style-name="Table1.A5" office:value-type="string">
                        <text:p text:style-name="P18">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Replace}}}</text:p>
                        <text:p text:style-name="P17">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Label:Replace}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table1.B5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P18">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Replace}}}</text:p>
                        <text:p text:style-name="P17">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Label:Replace}}}
                      	</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.E5" office:value-type="string">
                        <text:p text:style-name="P18">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Replace}}}</text:p>
                        <text:p text:style-name="P17">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Label:Replace}}}
                        </text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table1.E5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P18">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Replace}}}</text:p>
                        <text:p text:style-name="P17">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Label:Replace}}}
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.G5" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P18">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Replace}}}</text:p>
                        <text:p text:style-name="P17">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Label:Replace}}}
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.2">
                    <table:table-cell table:style-name="Table1.A9" table:number-columns-spanned="8"
                        office:value-type="string">
                        <text:p text:style-name="P20">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificates}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.7">
                    <table:table-cell table:style-name="Table1.A7" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P15">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:Title}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.C7" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="P15">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:AwardingBody}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.F7" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P14"><text:s/>{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:IssueDate}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.H7" office:value-type="string">
                        <text:p text:style-name="P14">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:Level}}}*</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table1.8">
                    <table:table-cell table:style-name="Table1.A8" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P24">
                            <text:span text:style-name="T9">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:Title:Replace}}}</text:span>
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.C8" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="P11">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:AwardingBody:Replace}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.F8" table:number-columns-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="P12">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:IssueDate:Replace}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.H8" office:value-type="string">
                        <text:p text:style-name="P12">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate:Level:Replace}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table1.2">
                    <table:table-cell table:style-name="Table1.A9" table:number-columns-spanned="8"
                        office:value-type="string">
                        <text:p text:style-name="P20">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience}}}
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.10">
                    <table:table-cell table:style-name="Table1.A10" table:number-columns-spanned="5"
                        office:value-type="string">
                        <text:p text:style-name="P19">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience:Description}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.F10" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="P16">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience:Period}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
                <table:table-row table:style-name="Table1.11">
                    <table:table-cell table:style-name="Table1.A10" table:number-columns-spanned="5"
                        office:value-type="string">
                        <text:p text:style-name="P23">
                            <text:span text:style-name="_5f_ELP_5f_Experience_5f_type">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience:Description:Replace}}}</text:span>
                            <!--  text:span text:style-name="T3">Using languages at work / </text:span>
                            <text:span text:style-name="T4">Using languages while living or
                                travelling abroad / </text:span>
                            <text:span text:style-name="T3">Mediating between languages</text:span>
                            <text:span text:style-name="T5"> </text:span-->
                            <text:span text:style-name="T7">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience:Description:Details:Replace}}}</text:span>
                        </text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table1.F10" table:number-columns-spanned="3"
                        office:value-type="string">
                        <text:p text:style-name="P12">{{{Template_Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Experience:Period:Replace}}}</text:p>
                    </table:table-cell>
                    <table:covered-table-cell/>
                    <table:covered-table-cell/>
                </table:table-row>
            </table:table>
            <text:p text:style-name="_5f_ELP_5f_table_5f_above_5f_below"/>
            <table:table table:name="Table8" table:style-name="Table8">
                <table:table-column table:style-name="Table8.A"/>
                <table:table-column table:style-name="Table8.B"/>
                <table:table-column table:style-name="Table8.C"/>
                <table:table-column table:style-name="Table8.D"/>
                <table:table-column table:style-name="Table8.E"/>
                <table:table-column table:style-name="Table8.F"/>
                <table:table-column table:style-name="Table8.G"/>
                <table:table-column table:style-name="Table8.H"/>
                <table:table-row table:style-name="Table8.1">
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="P10"/>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="P10"/>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">A1</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">A2</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">B1</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">B2</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">C1</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_C1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H1" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_level">C2</text:p>
                        <text:p text:style-name="_5f_ELP_5f_level_5f_label">{{{LanguageShort_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table8.1">
                    <table:table-cell table:style-name="Table8.A2" table:number-rows-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_vertical_5f_titles"
                            >{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Understanding:elp}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.B2" office:value-type="string">
                        <text:p text:style-name="P7">
                            <draw:frame draw:style-name="fr4" draw:name="graphics4"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="7">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003BED4460AE.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_icon_5f_label"
                            >{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Listening}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.C2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.D2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.E2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.F2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.G2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_C1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Listening_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table8.1">
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table8.A2" office:value-type="string">
                        <text:p text:style-name="P7">
                            <draw:frame draw:style-name="fr4" draw:name="graphics15"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="8">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B203E2C7D.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="P7">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Reading}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.C6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.D6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.E6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.F6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.G6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_C1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Reading_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table8.1">
                    <table:table-cell table:style-name="Table8.A2" table:number-rows-spanned="2"
                        office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_vertical_5f_titles"
                            >{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Speaking:elp}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A2" office:value-type="string">
                        <text:p text:style-name="P7">
                            <draw:frame draw:style-name="fr5" draw:name="graphics16"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="9">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003BDA520367.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="P7">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenInteraction}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.C6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.D6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.E6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.F6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.G6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_C1}}}</text:p>
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content"/>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenInteraction_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table8.1">
                    <table:covered-table-cell/>
                    <table:table-cell table:style-name="Table8.A2" office:value-type="string">
                        <text:p text:style-name="P7">
                            <draw:frame draw:style-name="fr5" draw:name="graphics17"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="10">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B7A2E4E62.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="P7">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenProduction}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.C6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.D6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.E6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.F6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.G6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_C1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{SpokenProduction_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
                <table:table-row table:style-name="Table8.1">
                    <table:table-cell table:style-name="Table8.A2" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_vertical_5f_titles">
                            <text:span text:style-name="T2">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Writing:elp}}}</text:span>
                        </text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.A2" office:value-type="string">
                        <text:p text:style-name="P7">
                            <draw:frame draw:style-name="fr5" draw:name="graphics18"
                                text:anchor-type="as-char" svg:width="0.601cm" svg:height="0.499cm"
                                draw:z-index="11">
                                <draw:image
                                    xlink:href="Pictures/10000201000000470000003B6666A890.png"
                                    xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
                            </draw:frame>
                        </text:p>
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_icon_5f_label">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Writing:elp}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.C6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_A1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.D6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_A2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.E6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_B1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.F6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_B2}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.G6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_C1}}}</text:p>
                    </table:table-cell>
                    <table:table-cell table:style-name="Table8.H6" office:value-type="string">
                        <text:p text:style-name="_5f_ELP_5f_Grid_5f_content">{{{Writing_C2}}}</text:p>
                    </table:table-cell>
                </table:table-row>
            </table:table>
            <text:p text:style-name="P21">{{{Document:Elp:CEF:Council}}} </text:p>
        </office:text>
    </office:body>
</office:document-content>