{{!-- <span class="validation-feedback invalid">{{get_text "error.code.email.invalid.recipient" group="Notification"}}</span> --}}

<span class="validation-feedback invalid"> {{get_text errorMessage group="Notification"}} </span>