<fieldset class="step-info">
	
	<fieldset id="document-recipient-email-form" class="isForm with-icon Email">
		<label for="document-recipient-email">{{get_text "Download.CV.Provide.Email.Description" group="GuiLabel"}}</label>
		<input  type="email" 
				id="document-recipient-email"
				class="formfield help with-placeholder Email"
				name="Email"
				value="{{Email}}" />
		<span class="help placeholder" style="display:none" name="Email">{{{get_text "Download.CV.Provide.Email.To" group="EditorPlaceholder"}}}</span>		
	</fieldset>
	
</fieldset>
