<div class="ui-cvLibrary-area ui-job-portal-area drawer default" id="cvLibrary-default">    
    <div class="note job-portal">
        <div class="text post">{{get_text "export.wizard.step.cvLibrary.details" group = "GuiLabel"}}&nbsp;&nbsp;</div>
        <fieldset class="feedback-area" id="cvLibrary-warning-msg">
            <section class="notification error" style="">
                <div data-rel-key="" class="message-area">
                    <p></p>
                </div>
            </section>
        </fieldset>
        <div class="text emailNote warning">{{get_text "export.wizard.cvLibrary.missing.email" group = "GuiLabel"}}&nbsp;&nbsp;</div>
        <div class="ui-terms">
            <fieldset class="environmentInfo">
                <input id="cvLibrary-terms-check" name="cvLibrary-terms-check" value="cvLibrary-terms-check" type="checkbox" class="css-checkbox formfield">
                <label for="cvLibrary-terms-check" class="css-label formfield-label">{{get_text "export.wizard.step.cvLibrary.policies" group = "GuiLabel"}}</label>
            </fieldset>
        </div>        
        <button id="btn-submit-to-cvLibrary" class="button orange submit">{{get_text	"Buttons.CvLibrary.Post" group = "GuiLabel"}}</button>
    </div>
</div>
