<div class="ui-indeed-area ui-job-portal-area drawer default" id="indeed-default">
    <div class="note job-portal">
        <div class="text post">{{get_text "export.wizard.step.indeed.details" group = "GuiLabel"}}&nbsp;</div>
        <fieldset class="feedback-area" id="indeed-warning-msg">
            <section class="notification error" style="">
                <div data-rel-key="" class="message-area">
                    <p></p>
                </div>
            </section>
        </fieldset>
        <div class="text emailNote warning">{{get_text "export.wizard.indeed.missing.email" group = "GuiLabel"}}&nbsp;&nbsp;</div>
        <div class="ui-terms">
            <fieldset class="environmentInfo">
                <input id="indeed-terms-check" name="indeed-terms-check" value="indeed-terms-check" type="checkbox" class="css-checkbox formfield">
                <label for="indeed-terms-check" class="css-label formfield-label">{{get_text "export.wizard.step.indeed.policies" group = "GuiLabel"}}</label>
            </fieldset>
        </div>     
        <button id="btn-submit-to-indeed" class="button orange submit">{{get_text "Buttons.Indeed.Post" group = "GuiLabel"}}</button>
    </div>
</div>