<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/europass-webapps-editors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/europass-webapps-editors.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>~%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{20} -- %ex{full}#AdditionalInfo:%msg%n</Pattern>
        </layout>
    </appender>
    <root level="ERROR">
        <appender-ref ref="stdout" />
        <appender-ref ref="fout" />
    </root>
</configuration>