<section id="top-ui-cloud-sign-in">
    <a class="current-cloud-sign-in">
        <span class="cloud-sign-in-icon">{{get_text "EWA.CloudLogin.SignIn" group="GuiLabel"}}</span>
    </a>
    <section id="cloud-login-tooltip" style="display:none"></section>
</section>
<section id="top-ui-cloud-connected" style="display:none">
    <a class="current-cloud-connected">
        <span class="cloud-connected-icon"/>
        <span id="top-ui-cloud-current-document" style="display:none">
            <span class="cloud-selected-icon"></span>
        </span>
    </a>
</section>
