<div class="window overlay visible" style="display:none">
	<div class="modal" style="display:none">
	
		<form class="drawer main modalform"
			  data-rel-section = "{{data_rel_section}}"
			  style="display:none"
			  id = "{{id}}">
		</form>
		<div class="side" style="display:none">
			<div class="help-container"></div>
		</div>
		
		<button class="close" style="display:none">X</button>
	</div>
</div>