<div id="PartnersResponseForm" class="overlay">
	<div class="success-status basic-principles-content modal" style="display:none">
	<button class="close" style="display:none">Close</button>

        <div class="ui-cv-principles-area drawer" style="display:none">

            <fieldset class="process top-help">
                <header>
                    <legend class="partners-main-on-success">{{get_text "export.wizard.step.partners.desc.on.success" group="GuiLabel"}}</legend>
                    <legend class="partners-main-on-error">{{get_text "export.wizard.step.partners.desc.on.error" group="GuiLabel"}}</legend>
                </header>
                <fieldset class="step-info">
                    <div class="note partnersMain">
                        <span class="icon"></span>
                    </div>
                </fieldset>
            </fieldset>

        <button id="partnersMainOkBtn" type="button" class="button green complete" form="" style="">
            {{get_text "buttons.wizard.ok" group="GuiLabel"}}
        </button>

	</div>
</div>
</div>