<?xml version="1.0" encoding="UTF-8"?>
<office:document-content
xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0"
xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns:dc="http://purl.org/dc/elements/1.1/" 
xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0"
xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0"
xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0"
xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" 
xmlns:math="http://www.w3.org/1998/Math/MathML"
xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0"
xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0"
xmlns:ooo="http://openoffice.org/2004/office" 
xmlns:ooow="http://openoffice.org/2004/writer"
xmlns:oooc="http://openoffice.org/2004/calc" 
xmlns:dom="http://www.w3.org/2001/xml-events"
xmlns:xforms="http://www.w3.org/2002/xforms" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:rpt="http://openoffice.org/2005/report"
xmlns:of="urn:oasis:names:tc:opendocument:xmlns:of:1.2" 
xmlns:xhtml="http://www.w3.org/1999/xhtml"
xmlns:grddl="http://www.w3.org/2003/g/data-view#" 
xmlns:tableooo="http://openoffice.org/2009/table"
xmlns:field="urn:openoffice:names:experimental:ooo-ms-interop:xmlns:field:1.0" office:version="1.2">
<office:scripts />
<office:font-face-decls>
<style:font-face style:name="Mangal1" svg:font-family="Mangal" />
<style:font-face style:name="OpenSymbol" svg:font-family="OpenSymbol" />
<style:font-face style:name="Segoe UI" svg:font-family="&apos;Segoe UI&apos;" style:font-adornments="Regular" />
<style:font-face style:name="ArialMT" svg:font-family="ArialMT" style:font-family-generic="swiss" />
<style:font-face style:name="Times New Roman" svg:font-family="&apos;Times New Roman&apos;"	style:font-family-generic="roman" style:font-pitch="variable" />
<style:font-face style:name="Arial" svg:font-family="Arial"	style:font-family-generic="swiss" style:font-pitch="variable" />
<style:font-face style:name="Arial1" svg:font-family="Arial" style:font-adornments="Regular" style:font-family-generic="swiss" style:font-pitch="variable" />
<style:font-face style:name="Mangal" svg:font-family="Mangal" style:font-family-generic="system" style:font-pitch="variable" />
<style:font-face style:name="Microsoft YaHei" svg:font-family="&apos;Microsoft YaHei&apos;" style:font-family-generic="system" style:font-pitch="variable" />
<style:font-face style:name="SimSun" svg:font-family="SimSun" style:font-family-generic="system" style:font-pitch="variable" />
</office:font-face-decls>
<office:automatic-styles>
<style:style style:name="EuropassCVPersonalInformation" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" table:align="left"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.A" style:family="table-column">
<style:table-column-properties style:column-width="4.999cm"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.A1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.2" style:family="table-row">
<style:table-row-properties style:row-height="0.4cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.A2" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.B3" style:family="table-cell">
<style:table-cell-properties style:vertical-align="" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.B6" style:family="table-cell">
<style:table-cell-properties style:vertical-align="" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCVPersonalInformation.8" style:family="table-row">
<style:table-row-properties style:min-row-height="0.7cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_OccupationalField" style:display-name="EuropassCV_OccupationalField" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0.3cm" fo:margin-bottom="0.3cm" table:align="left" fo:keep-with-next="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_OccupationalField.A" style:display-name="EuropassCV_OccupationalField.A" style:family="table-column">
<style:table-column-properties style:column-width="4.999cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_OccupationalField.B" style:display-name="EuropassCV_OccupationalField.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_OccupationalField.1" style:display-name="EuropassCV_OccupationalField.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_OccupationalField.A1" style:display-name="EuropassCV_OccupationalField.A1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle" style:display-name="EuropassCV_WorkExperienceTitle" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" table:align="left" style:may-break-between-rows="false"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle.A" style:display-name="EuropassCV_WorkExperienceTitle.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle.B" style:display-name="EuropassCV_WorkExperienceTitle.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle.1" style:display-name="EuropassCV_WorkExperienceTitle.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle.A1" style:display-name="EuropassCV_WorkExperienceTitle.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperienceTitle.B1" style:display-name="EuropassCV_WorkExperienceTitle.B1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1" style:display-name="EuropassCV_WorkExperience_1" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-left="0cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="left"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.A" style:display-name="EuropassCV_WorkExperience_1.A" style:family="table-column">
<style:table-column-properties style:column-width="4.999cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.B" style:display-name="EuropassCV_WorkExperience_1.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.1" style:display-name="EuropassCV_WorkExperience_1.1" style:family="table-row">
<style:table-row-properties style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.A1" style:display-name="EuropassCV_WorkExperience_1.A1" style:family="table-cell">
<style:table-cell-properties fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.4" style:display-name="EuropassCV_WorkExperience_1.4" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_WorkExperience_5f_1.B4" style:display-name="EuropassCV_WorkExperience_1.B4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table4" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="left"/>
</style:style>
<style:style style:name="Table4.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="Table4.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="Table4.1" style:family="table-row">
<style:table-row-properties style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table4.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table4.4" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table4.B4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle" style:display-name="EuropassCV_Education&amp;TrainingTitle" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:break-before="auto" fo:break-after="auto" table:align="right" fo:background-color="transparent" fo:keep-with-next="auto" style:may-break-between-rows="false" style:writing-mode="page">
<style:background-image/>
</style:table-properties>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle.A" style:display-name="EuropassCV_Education&amp;TrainingTitle.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle.B" style:display-name="EuropassCV_Education&amp;TrainingTitle.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle.1" style:display-name="EuropassCV_Education&amp;TrainingTitle.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" fo:background-color="transparent" style:keep-together="true" fo:keep-together="auto">
<style:background-image/>
</style:table-row-properties>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle.A1" style:display-name="EuropassCV_Education&amp;TrainingTitle.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_TrainingTitle.B1" style:display-name="EuropassCV_Education&amp;TrainingTitle.B1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1" style:display-name="EuropassCV_Education&amp;Training_1" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.A" style:display-name="EuropassCV_Education&amp;Training_1.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.B" style:display-name="EuropassCV_Education&amp;Training_1.B" style:family="table-column">
<style:table-column-properties style:column-width="11.001cm" style:rel-column-width="39393*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.C" style:display-name="EuropassCV_Education&amp;Training_1.C" style:family="table-column">
<style:table-column-properties style:column-width="2.3cm" style:rel-column-width="8237*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.1" style:display-name="EuropassCV_Education&amp;Training_1.1" style:family="table-row">
<style:table-row-properties style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.A1" style:display-name="EuropassCV_Education&amp;Training_1.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.4" style:display-name="EuropassCV_Education&amp;Training_1.4" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Education_26_Training_5f_1.B4" style:display-name="EuropassCV_Education&amp;Training_1.B4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table5" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="Table5.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="Table5.B" style:family="table-column">
<style:table-column-properties style:column-width="11.001cm" style:rel-column-width="39393*"/>
</style:style>
<style:style style:name="Table5.C" style:family="table-column">
<style:table-column-properties style:column-width="2.3cm" style:rel-column-width="8237*"/>
</style:style>
<style:style style:name="Table5.1" style:family="table-row">
<style:table-row-properties style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table5.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table5.4" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table5.B4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle" style:display-name="EuropassCV_PersonalSkillsTitle" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" table:align="left" style:may-break-between-rows="false"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle.A" style:display-name="EuropassCV_PersonalSkillsTitle.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle.B" style:display-name="EuropassCV_PersonalSkillsTitle.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle.1" style:display-name="EuropassCV_PersonalSkillsTitle.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle.A1" style:display-name="EuropassCV_PersonalSkillsTitle.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_PersonalSkillsTitle.B1" style:display-name="EuropassCV_PersonalSkillsTitle.B1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins" style:may-break-between-rows="true"/>
</style:style>
<style:style style:name="Table1.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="Table1.B" style:family="table-column">
<style:table-column-properties style:column-width="2.723cm" style:rel-column-width="9751*"/>
</style:style>
<style:style style:name="Table1.C" style:family="table-column">
<style:table-column-properties style:column-width="2.642cm" style:rel-column-width="9461*"/>
</style:style>
<style:style style:name="Table1.D" style:family="table-column">
<style:table-column-properties style:column-width="2.644cm" style:rel-column-width="9467*"/>
</style:style>
<style:style style:name="Table1.E" style:family="table-column">
<style:table-column-properties style:column-width="2.646cm" style:rel-column-width="9474*"/>
</style:style>
<style:style style:name="Table1.F" style:family="table-column">
<style:table-column-properties style:column-width="2.646cm" style:rel-column-width="9477*"/>
</style:style>
<style:style style:name="Table1.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.45cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table1.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table1.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table1.B3" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="0.035cm solid #c6c6c6" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.D3" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding="0cm" fo:border-left="0.035cm solid #c6c6c6" fo:border-right="none" fo:border-top="0.035cm solid #c6c6c6" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.B4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.C4" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding="0cm" fo:border-left="0.035cm solid #c6c6c6" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.5" style:family="table-row">
<style:table-row-properties style:min-row-height="0.499cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table1.A5" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table1.B5" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.018cm solid #c6c6c6"/>
</style:style>
<style:style style:name="Table1.B6" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="#ececec" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.B7" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.018cm solid #c6c6c6"/>
</style:style>
<style:style style:name="Table1.B10" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table1.11" style:family="table-row">
<style:table-row-properties style:min-row-height="0.7cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills" style:display-name="EuropassCV_CommunicationSkills" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.A" style:display-name="EuropassCV_CommunicationSkills.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.B" style:display-name="EuropassCV_CommunicationSkills.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.1" style:display-name="EuropassCV_CommunicationSkills.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.A1" style:display-name="EuropassCV_CommunicationSkills.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.2" style:display-name="EuropassCV_CommunicationSkills.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_CommunicationSkills.B2" style:display-name="EuropassCV_CommunicationSkills.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills" style:display-name="EuropassCV_OrganisationalSkills" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.A" style:display-name="EuropassCV_OrganisationalSkills.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.B" style:display-name="EuropassCV_OrganisationalSkills.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.1" style:display-name="EuropassCV_OrganisationalSkills.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.A1" style:display-name="EuropassCV_OrganisationalSkills.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.2" style:display-name="EuropassCV_OrganisationalSkills.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_OrganisationalSkills.B2" style:display-name="EuropassCV_OrganisationalSkills.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills" style:display-name="EuropassCV_JobRelatedSkills" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.A" style:display-name="EuropassCV_JobRelatedSkills.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.B" style:display-name="EuropassCV_JobRelatedSkills.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.1" style:display-name="EuropassCV_JobRelatedSkills.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.A1" style:display-name="EuropassCV_JobRelatedSkills.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.2" style:display-name="EuropassCV_JobRelatedSkills.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_JobRelatedSkills.B2" style:display-name="EuropassCV_JobRelatedSkills.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills" style:display-name="EuropassCV_ComputerSkills" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.A" style:display-name="EuropassCV_ComputerSkills.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.B" style:display-name="EuropassCV_ComputerSkills.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.1" style:display-name="EuropassCV_ComputerSkills.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.A1" style:display-name="EuropassCV_ComputerSkills.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.2" style:display-name="EuropassCV_ComputerSkills.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_ComputerSkills.B2" style:display-name="EuropassCV_ComputerSkills.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>


<style:style style:name="Table1.2_ICT" style:family="table-row">
<style:table-row-properties style:min-row-height="1.2cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table1.B4_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding-left="0.4cm" fo:padding-right="0.4cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.C4_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:background-color="transparent" fo:padding-left="0.4cm" fo:padding-right="0.4cm" fo:border-left="0.035cm solid #c6c6c6" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.035cm solid #c6c6c6">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table1.B5_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding-top="0.2cm" fo:padding-bottom="0.2cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.018cm solid #c6c6c6"/>
</style:style>
<style:style style:name="Table1.C5_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding-top="0.2cm" fo:padding-bottom="0.2cm" fo:border-left="0.035cm solid #c6c6c6" fo:border-right="none" fo:border-top="none" fo:border-bottom="0.018cm solid #c6c6c6"/>
</style:style>
<style:style style:name="Table1.B8_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="none"/>
</style:style>
<style:style style:name="Table1.B7_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding-top="3.5mm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="none"/>
</style:style>
<style:style style:name="Table1.B9_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="top" fo:padding="0mm" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:border-bottom="none"/>
</style:style>
<style:style style:name="Table1.B10_ICT" style:family="table-cell">
<style:table-cell-properties style:vertical-align="middle" fo:padding-top="0cm" fo:padding-bottom="0.2cm" fo:border="none"/>
</style:style>


<style:style style:name="Table6" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="Table6.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="Table6.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="Table6.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table6.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table6.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table6.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence" style:display-name="EuropassCV_DrivingLicence" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.A" style:display-name="EuropassCV_DrivingLicence.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.B" style:display-name="EuropassCV_DrivingLicence.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.1" style:display-name="EuropassCV_DrivingLicence.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.A1" style:display-name="EuropassCV_DrivingLicence.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.2" style:display-name="EuropassCV_DrivingLicence.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_DrivingLicence.B2" style:display-name="EuropassCV_DrivingLicence.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation" style:display-name="EuropassCV_AdditionalInformation" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" table:align="right"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation.A" style:display-name="EuropassCV_AdditionalInformation.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation.B" style:display-name="EuropassCV_AdditionalInformation.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation.1" style:display-name="EuropassCV_AdditionalInformation.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation.A1" style:display-name="EuropassCV_AdditionalInformation.A1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_AdditionalInformation.B1" style:display-name="EuropassCV_AdditionalInformation.B1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="EuropassCV_5f_Publications" style:display-name="EuropassCV_Publications" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.A" style:display-name="EuropassCV_Publications.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.B" style:display-name="EuropassCV_Publications.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.1" style:display-name="EuropassCV_Publications.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.A1" style:display-name="EuropassCV_Publications.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.2" style:display-name="EuropassCV_Publications.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Publications.B2" style:display-name="EuropassCV_Publications.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects" style:display-name="EuropassCV_Projects" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.A" style:display-name="EuropassCV_Projects.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.B" style:display-name="EuropassCV_Projects.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.1" style:display-name="EuropassCV_Projects.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.A1" style:display-name="EuropassCV_Projects.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.2" style:display-name="EuropassCV_Projects.2" style:family="table-row">
<style:table-row-properties style:min-row-height="0.6cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="EuropassCV_5f_Projects.B2" style:display-name="EuropassCV_Projects.B2" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="Table2" style:family="table">
<style:table-properties style:width="18.3cm" fo:margin-top="0cm" fo:margin-bottom="0cm" table:align="left"/>
</style:style>
<style:style style:name="Table2.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm"/>
</style:style>
<style:style style:name="Table2.B" style:family="table-column">
<style:table-column-properties style:column-width="13.3cm"/>
</style:style>
<style:style style:name="Table2.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table2.A1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table2.B1" style:family="table-cell">
<style:table-cell-properties style:vertical-align="bottom" fo:background-color="transparent" fo:padding="0cm" fo:border="none">
<style:background-image/>
</style:table-cell-properties>
</style:style>
<style:style style:name="Table3" style:family="table">
<style:table-properties style:width="18.302cm" fo:margin-top="0.011cm" fo:margin-bottom="0.3cm" table:align="margins"/>
</style:style>
<style:style style:name="Table3.A" style:family="table-column">
<style:table-column-properties style:column-width="5.001cm" style:rel-column-width="17905*"/>
</style:style>
<style:style style:name="Table3.B" style:family="table-column">
<style:table-column-properties style:column-width="13.301cm" style:rel-column-width="47630*"/>
</style:style>
<style:style style:name="Table3.1" style:family="table-row">
<style:table-row-properties style:min-row-height="0.3cm" style:keep-together="true" fo:keep-together="auto"/>
</style:style>
<style:style style:name="Table3.A1" style:family="table-cell">
<style:table-cell-properties fo:padding="0cm" fo:border="none"/>
</style:style>
<style:style style:name="P1" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_1stPage">
<style:paragraph-properties fo:margin-top="0.58cm" fo:margin-bottom="0cm"/>
</style:style>
<style:style style:name="P2" style:family="paragraph" style:parent-style-name="Footer">
<style:paragraph-properties fo:text-align="start" style:justify-single-word="false" style:text-autospace="none">
<style:tab-stops>
<style:tab-stop style:position="5.001cm"/>
<style:tab-stop style:position="18.3cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
<style:text-properties fo:color="#26b4ea" style:font-name="ArialMT" fo:font-size="7pt" style:font-name-asian="ArialMT" style:font-size-asian="7pt" style:font-name-complex="ArialMT" style:font-size-complex="7pt"/>
</style:style>
<style:style style:name="P3" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_1stPage">
<style:paragraph-properties fo:margin-top="0.27cm" fo:margin-bottom="0.4cm"/>
</style:style>
<style:style style:name="P4" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_ContactDetails">
<style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-indent="0cm" style:auto-text-indent="false">
<style:tab-stops>
<style:tab-stop style:position="14.496cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
<style:text-properties style:font-name="Arial" fo:letter-spacing="-0.011cm" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="P5" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RelatedDocumentRow">
<style:paragraph-properties fo:text-align="end" style:justify-single-word="false"/>
<style:text-properties fo:color="#1593cb" fo:font-size="9pt" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="P6" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RelatedDocumentRow">
<style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" style:shadow="none"/>
<style:text-properties fo:color="#1593cb" style:font-name="Arial1" fo:font-size="9pt" fo:letter-spacing="-0.011cm" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="P7" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Heading">
<style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0.3cm" fo:margin-top="0cm" fo:margin-bottom="0.499cm" fo:text-indent="0cm" style:auto-text-indent="false"/>
</style:style>
<style:style style:name="P8" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading">
<style:text-properties fo:font-variant="normal" fo:text-transform="none"/>
</style:style>
<style:style style:name="P9" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LanguageHeading">
<style:text-properties fo:font-variant="normal" fo:text-transform="uppercase"/>
</style:style>
<style:style style:name="P10" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LanguageLevel">
<style:text-properties fo:font-variant="normal" fo:text-transform="none"/>
</style:style>
<style:style style:name="P11" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_PersonalInfoHeading">
<style:text-properties fo:font-variant="normal" fo:text-transform="none"/>
</style:style>
<style:style style:name="P12" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_OccupationalFieldHeading">
<style:text-properties fo:font-variant="normal" fo:text-transform="none"/>
</style:style>
<style:style style:name="P13" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_SectionBullet" style:list-style-name="_5f_ECV_5f_CV_5f_Bullets"/>
<style:style style:name="P14" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Heading" style:master-page-name="_5f_ESP_5f_1stPage">
<style:paragraph-properties fo:margin-left="0cm" fo:margin-right="0.3cm" fo:margin-top="0cm" fo:margin-bottom="0.6cm" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto"/>
</style:style>
<style:style style:name="T1" style:family="text">
<style:text-properties fo:color="#1593cb"/>
</style:style>
<style:style style:name="T2" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial"/>
</style:style>
<style:style style:name="T3" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="7pt" style:font-size-asian="7pt" style:font-size-complex="7pt"/>
</style:style>
<style:style style:name="T4" style:family="text">
<style:text-properties style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="T5" style:family="text">
<style:text-properties style:font-name="Arial" fo:font-size="9pt" style:font-name-asian="ArialMT" style:font-size-asian="9pt" style:font-name-complex="ArialMT" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="T6" style:family="text">
<style:text-properties fo:font-variant="normal" fo:text-transform="none"/>
</style:style>
<style:style style:name="T7" style:family="text">
<style:text-properties fo:font-variant="normal" fo:text-transform="none" style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="T8" style:family="text">
<style:text-properties fo:color="#0e4194" style:font-name="Arial" fo:font-size="8pt" style:font-size-asian="8pt" style:font-size-complex="8pt"/>
</style:style>
<style:style style:name="T9" style:family="text">
<style:text-properties fo:text-transform="uppercase" style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="T10" style:family="text">
<style:text-properties fo:color="#0033ff" style:font-name="Arial1" fo:font-size="9pt"/>
</style:style>
<style:style style:name="T11" style:family="text">
<style:text-properties style:font-name="ArialMT" style:font-name-asian="ArialMT" style:font-name-complex="ArialMT"/>
</style:style>
<style:style style:name="T12" style:family="text">
<style:text-properties style:font-name="ArialMT" fo:font-size="9pt" style:font-name-asian="ArialMT" style:font-size-asian="9pt" style:font-name-complex="ArialMT" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="T13" style:family="text">
<style:text-properties style:font-name-asian="ArialMT" style:font-name-complex="ArialMT"/>
</style:style>
<style:style style:name="T14" style:family="text">
<style:text-properties style:font-name="Arial1" fo:font-size="9pt"/>
</style:style>
<style:style style:name="T15" style:family="text">
<style:text-properties fo:color="#3f3a38"/>
</style:style>
<style:style style:name="fr1" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:horizontal-pos="left" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr2" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:wrap="parallel" style:number-wrapped-paragraphs="no-limit" style:wrap-contour="false" style:vertical-pos="middle" style:vertical-rel="baseline" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" style:shadow="none" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr3" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties fo:margin-left="0cm" fo:margin-right="0.199cm" style:vertical-pos="from-top" style:vertical-rel="paragraph" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr4" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties fo:margin-left="0cm" fo:margin-right="0cm" style:vertical-pos="top" style:vertical-rel="text" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" style:shadow="none" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr5" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties fo:margin-left="0cm" fo:margin-right="0cm" style:vertical-pos="top" style:vertical-rel="text" style:horizontal-pos="center" style:horizontal-rel="paragraph" style:shadow="none" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr6" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties fo:margin-left="0cm" fo:margin-right="0cm" style:vertical-pos="middle" style:vertical-rel="text" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" style:shadow="none" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr7" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:vertical-pos="bottom" style:vertical-rel="line" style:horizontal-pos="center" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr8" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:vertical-pos="bottom" style:vertical-rel="baseline" style:horizontal-pos="center" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr9" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:vertical-pos="from-top" style:horizontal-pos="center" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr10" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:vertical-pos="from-top" style:vertical-rel="paragraph" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:style style:name="fr11" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:vertical-pos="top" style:vertical-rel="paragraph" style:horizontal-pos="center" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>	
</office:automatic-styles>
<office:body>
<office:text text:use-soft-page-breaks="true">
<text:sequence-decls>
<text:sequence-decl text:display-outline-level="0" text:name="Illustration"/>
<text:sequence-decl text:display-outline-level="0" text:name="Table"/>
<text:sequence-decl text:display-outline-level="0" text:name="Text"/>
<text:sequence-decl text:display-outline-level="0" text:name="Drawing"/>
</text:sequence-decls>

<table:table table:name="EuropassCVPersonalInformation" table:style-name="EuropassCVPersonalInformation">
<table:table-column table:style-name="EuropassCVPersonalInformation.A" />
<table:table-column table:style-name="EuropassCVPersonalInformation.B" />
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:table-cell table:style-name="EuropassCVPersonalInformation.A1" office:value-type="string">
<text:p text:style-name="P11">{{{LearnerInfo:Identification}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCVPersonalInformation.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_NameField">{{{Template:LearnerInfo:Identification:PersonName:FirstName}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.2">
<table:table-cell table:style-name="EuropassCVPersonalInformation.A2" table:number-columns-spanned="2" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_Comments">{{{Template:LearnerInfo:Identification:Guidelines}}}</text:p>
</table:table-cell>
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:table-cell table:style-name="EuropassCVPersonalInformation.A2" table:number-rows-spanned="6" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftHeading">
<draw:frame draw:style-name="fr2" draw:name="graphics6" text:anchor-type="as-char" svg:width="2.513541667cm" svg:height="2.910416667cm" draw:z-index="11">
<draw:image xlink:href="Pictures/no-photo.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" /> 
</draw:frame>
</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCVPersonalInformation.B3" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_ContactDetails">
<draw:frame draw:style-name="fr3" draw:name="graphics15" text:anchor-type="char" svg:x="0cm" svg:y="0cm" svg:width="0.346cm" svg:height="0.4cm" draw:z-index="0">
<draw:image xlink:href="Pictures/icon-location.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
{{{Template:LearnerInfo:Identification:ContactInfo:Address}}}
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCVPersonalInformation.B3" office:value-type="string">
<text:p text:style-name="P4">
<draw:frame draw:style-name="fr3" draw:name="graphics17" text:anchor-type="char" svg:x="0cm" svg:y="0cm" svg:width="0.351cm" svg:height="0.36cm" draw:z-index="11">
<draw:image xlink:href="Pictures/icon-telephone.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
</draw:frame>
<text:span text:style-name="_5f_ECV_5f_ContactDetails">
<text:span text:style-name="T14">{{{Template:LearnerInfo:Identification:ContactInfo:Telephone}}}<text:s text:c="3"/></text:span>
</text:span>
<draw:frame draw:style-name="fr4" draw:name="graphics14" text:anchor-type="as-char" svg:width="0.351cm" svg:height="0.36cm" draw:z-index="16">
<draw:image xlink:href="Pictures/icon-mobile.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
<text:span text:style-name="_5f_ECV_5f_ContactDetails">
<text:span text:style-name="T14">{{{Template:LearnerInfo:Identification:ContactInfo:Mobile}}}<text:s text:c="3"/></text:span>
</text:span>
<text:s text:c="3"/>
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCVPersonalInformation.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_ContactDetails">
<draw:frame draw:style-name="fr3" draw:name="graphics5" text:anchor-type="char" svg:x="0cm" svg:y="0cm" svg:width="0.353cm" svg:height="0.402cm" draw:z-index="4">
<draw:image xlink:href="Pictures/icon-envelope.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
{{{Template:LearnerInfo:Identification:ContactInfo:Email}}}
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCVPersonalInformation.B6" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_ContactDetails">
<text:span text:style-name="_5f_ECV_5f_InternetLink">{{{Template:LearnerInfo:Identification:ContactInfo:Website}}}</text:span>
<draw:frame draw:style-name="fr3" draw:name="graphics7" text:anchor-type="char" svg:x="0cm" svg:y="0cm" svg:width="0.349cm" svg:height="0.356cm" draw:z-index="1">
<draw:image xlink:href="Pictures/icon-website.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
<draw:frame draw:style-name="fr4" draw:name="graphics24" text:anchor-type="char" svg:width="0.351cm" svg:height="0.36cm" draw:z-index="1">
<draw:image xlink:href="Pictures/icon-linkedin.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCVPersonalInformation.B6" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_ContactDetails">
<text:span text:style-name="_5f_ECV_5f_HeadingContactDetails">{{{Template:LearnerInfo:Identification:ContactInfo:InstantMessaging:Use}}}</text:span>
<text:span text:style-name="_5f_ECV_5f_ContactDetails">
<text:span text:style-name="T13">{{{Template:LearnerInfo:Identification:ContactInfo:InstantMessaging:Contact}}}</text:span>
</text:span>
<text:span text:style-name="T12"></text:span>
<draw:frame draw:style-name="fr3" draw:name="graphics8" text:anchor-type="char" svg:x="0cm" svg:y="0cm" svg:width="0.349cm" svg:height="0.377cm" draw:z-index="2">
<draw:image xlink:href="Pictures/icon-im.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCVPersonalInformation.8">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCVPersonalInformation.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_GenderRow">
	<text:span text:style-name="_5f_ECV_5f_HeadingContactDetails">{{{LearnerInfo:Identification:Demographics:Gender}}}</text:span>
	<text:span text:style-name="_5f_ECV_5f_ContactDetails">{{{Template:LearnerInfo:Identification:Demographics:Gender}}}</text:span>
	<text:span text:style-name="_5f_ECV_5f_HeadingContactDetails"> | {{{LearnerInfo:Identification:Demographics:Birthdate}}}</text:span>
	<text:span text:style-name="_5f_ECV_5f_ContactDetails"> {{{Template:LearnerInfo:Identification:Demographics:Birthdate}}}</text:span>
	<text:span text:style-name="_5f_ECV_5f_HeadingContactDetails"> | {{{LearnerInfo:Identification:Demographics:Nationality}}}</text:span>
	<text:span text:style-name="_5f_ECV_5f_ContactDetails">{{{Template:LearnerInfo:Identification:Demographics:Nationality}}}</text:span>

</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_OccupationalField" table:style-name="EuropassCV_5f_OccupationalField">
<table:table-column table:style-name="EuropassCV_5f_OccupationalField.A" />
<table:table-column table:style-name="EuropassCV_5f_OccupationalField.B" />
<table:table-row table:style-name="EuropassCV_5f_OccupationalField.1">
<table:table-cell table:style-name="EuropassCV_5f_OccupationalField.A1" office:value-type="string">
{{#Template:LearnerInfo:Headline}}{{{heading}}}{{/Template:LearnerInfo:Headline}}
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_OccupationalField.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_NameField">{{{Template:LearnerInfo:Headline:Guidelines}}}</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_WorkExperienceTitle" table:style-name="EuropassCV_5f_WorkExperienceTitle">
<table:table-column table:style-name="EuropassCV_5f_WorkExperienceTitle.A" />
<table:table-column table:style-name="EuropassCV_5f_WorkExperienceTitle.B" />
<table:table-row table:style-name="EuropassCV_5f_WorkExperienceTitle.1">
<table:table-cell table:style-name="EuropassCV_5f_WorkExperienceTitle.A1" office:value-type="string">
<text:p text:style-name="P8">{{{LearnerInfo:WorkExperience}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_WorkExperienceTitle.B1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BlueBox">
<draw:frame draw:style-name="fr7" draw:name="graphics2" text:anchor-type="as-char" svg:width="13.3cm" svg:height="0.25cm" draw:z-index="13">
<draw:image xlink:href="Pictures/100002010000062000000021F9DDC83D.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Comments">{{{Template:LearnerInfo:WorkExperience:Guidelines}}}</text:p>
<table:table table:name="EuropassCV_WorkExperience_1" table:style-name="EuropassCV_5f_WorkExperience_5f_1">
<table:table-column table:style-name="EuropassCV_5f_WorkExperience_5f_1.A" />
<table:table-column table:style-name="EuropassCV_5f_WorkExperience_5f_1.B" />
<table:table-row table:style-name="EuropassCV_5f_WorkExperience_5f_1.1">
<table:table-cell table:style-name="EuropassCV_5f_WorkExperience_5f_1.A1" table:number-rows-spanned="4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_Date">{{{Template:LearnerInfo:WorkExperience:Period}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_WorkExperience_5f_1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_SubSectionHeading">{{{Template:LearnerInfo:WorkExperience:Position}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCV_5f_WorkExperience_5f_1.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCV_5f_WorkExperience_5f_1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_OrganisationDetails">{{{Template:LearnerInfo:WorkExperience:Employer}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCV_5f_WorkExperience_5f_1.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCV_5f_WorkExperience_5f_1.A1" office:value-type="string">
{{#Template:LearnerInfo:WorkExperience:Activities}}{{{odt}}}{{/Template:LearnerInfo:WorkExperience:Activities}}
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCV_5f_WorkExperience_5f_1.4">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCV_5f_WorkExperience_5f_1.B4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BusinessSectorRow">
<text:span text:style-name="_5f_ECV_5f_HeadingBusinessSector">{{{LearnerInfo:WorkExperience:Employer:Sector}}}</text:span>
<text:span text:style-name="_5f_ECV_5f_ContactDetails">{{{Template:LearnerInfo:WorkExperience:Employer:Sector}}}</text:span>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_Education&amp;TrainingTitle" table:style-name="EuropassCV_5f_Education_26_TrainingTitle">
<table:table-column table:style-name="EuropassCV_5f_Education_26_TrainingTitle.A" />
<table:table-column table:style-name="EuropassCV_5f_Education_26_TrainingTitle.B" />
<table:table-row table:style-name="EuropassCV_5f_Education_26_TrainingTitle.1">
<table:table-cell table:style-name="EuropassCV_5f_Education_26_TrainingTitle.A1" office:value-type="string">
<text:p text:style-name="P8">{{{LearnerInfo:Education}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_Education_26_TrainingTitle.B1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BlueBox">
<draw:frame draw:style-name="fr8" draw:name="graphics10" text:anchor-type="as-char" svg:width="13.3cm" svg:height="0.25cm" draw:z-index="14">
<draw:image xlink:href="Pictures/100002010000062000000021F9DDC83D.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Comments">{{{Template:LearnerInfo:Education:Guidelines}}}</text:p>
<table:table table:name="EuropassCV_Education&amp;Training_1" table:style-name="EuropassCV_5f_Education_26_Training_5f_1">
<table:table-column table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A" />
<table:table-column table:style-name="EuropassCV_5f_Education_26_Training_5f_1.B" />
<table:table-column table:style-name="EuropassCV_5f_Education_26_Training_5f_1.C" />
<table:table-row table:style-name="EuropassCV_5f_Education_26_Training_5f_1.1">
<table:table-cell table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A1" table:number-rows-spanned="3" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_Date">{{{Template:LearnerInfo:Education:Period}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_SubSectionHeading">{{{Template:LearnerInfo:Education:Title}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_RightHeading">{{{Template:LearnerInfo:Education:Level}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="EuropassCV_5f_Education_26_Training_5f_1.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A1" table:number-columns-spanned="2" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_OrganisationDetails">
{{{Template:LearnerInfo:Education:Organisation}}}
</text:p>
</table:table-cell>
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="EuropassCV_5f_Education_26_Training_5f_1.1">
<table:covered-table-cell />
<table:table-cell table:style-name="EuropassCV_5f_Education_26_Training_5f_1.A1" table:number-columns-spanned="2" office:value-type="string">
{{#Template:LearnerInfo:Education:Activities}}{{{odt}}}{{/Template:LearnerInfo:Education:Activities}}
</table:table-cell>
<table:covered-table-cell />
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />


<table:table table:name="EuropassCV_PersonalSkillsTitle" table:style-name="EuropassCV_5f_PersonalSkillsTitle">
<table:table-column table:style-name="EuropassCV_5f_PersonalSkillsTitle.A" />
<table:table-column table:style-name="EuropassCV_5f_PersonalSkillsTitle.B" />
<table:table-row table:style-name="EuropassCV_5f_PersonalSkillsTitle.1">
<table:table-cell table:style-name="EuropassCV_5f_PersonalSkillsTitle.A1" office:value-type="string">
<text:p text:style-name="P8">{{{LearnerInfo:Skills}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_PersonalSkillsTitle.B1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BlueBox">
<draw:frame draw:style-name="fr8" draw:name="graphics11" text:anchor-type="as-char" svg:width="13.3cm" svg:height="0.25cm" draw:z-index="15">
<draw:image xlink:href="Pictures/100002010000062000000021F9DDC83D.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Comments">{{{Template:LearnerInfo:Skills:Guidelines}}}</text:p>
<table:table table:name="Table1" table:style-name="Table1">
<table:table-column table:style-name="Table1.A" />
<table:table-column table:style-name="Table1.B" />
<table:table-column table:style-name="Table1.C" />
<table:table-column table:style-name="Table1.D" />
<table:table-column table:style-name="Table1.E" />
<table:table-column table:style-name="Table1.F" />
<table:table-row table:style-name="Table1.1">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Linguistic:MotherTongue}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.A1" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_SectionDetails">{{{Template:LearnerInfo:Skills:Linguistic:MotherTongue}}}</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="Table1.2">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftHeading" />
</table:table-cell>
<table:table-cell table:style-name="Table1.A1" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_RightColumn" />
</table:table-cell>
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="Table1.2">
<table:table-cell table:style-name="Table1.A1" table:number-rows-spanned="2" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B3" table:number-columns-spanned="2" office:value-type="string">
<text:p text:style-name="P9">
  {{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Understanding}}}
</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:table-cell table:style-name="Table1.D3" table:number-columns-spanned="2" office:value-type="string">
<text:p text:style-name="P9">
  {{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Speaking}}}
</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:table-cell table:style-name="Table1.D3" office:value-type="string">
<text:p text:style-name="P9">
  {{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Writing}}}
</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="Table1.2">
<table:covered-table-cell />
<table:table-cell table:style-name="Table1.B4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">
{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Listening}}}
</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.C4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">
{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:Reading}}}
</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.C4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">
{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenInteraction}}}
</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.C4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">
{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:SpokenProduction}}}
</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.C4" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_RightColumn" />
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageName">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Replace}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="Standard" />
</table:table-cell>
<table:table-cell table:style-name="Table1.B6" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageCertificate">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate}}}</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageName">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Replace}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B5" office:value-type="string">
<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel}}}</text:p>
</table:table-cell>
</table:table-row>
<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="Standard" />
</table:table-cell>
<table:table-cell table:style-name="Table1.B6" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageCertificate">{{{Template:LearnerInfo:Skills:Linguistic:ForeignLanguage:Certificate}}}</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
</table:table-row>
<table:table-row table:style-name="Table1.11">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="Standard" />
</table:table-cell>
<table:table-cell table:style-name="Table1.B10" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageExplanation">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:CEFR:Explanation}}}</text:p>
<text:p text:style-name="_5f_ECV_5f_LanguageExplanation">{{{LearnerInfo:Skills:Linguistic:ForeignLanguage:ProficiencyLevel:CEFR}}}</text:p>
</table:table-cell>
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
<table:covered-table-cell />
</table:table-row>
</table:table>
<text:p text:style-name="Standard" />
<table:table table:name="EuropassCV_CommunicationSkills" table:style-name="EuropassCV_5f_CommunicationSkills">
<table:table-column table:style-name="EuropassCV_5f_CommunicationSkills.A" />
<table:table-column table:style-name="EuropassCV_5f_CommunicationSkills.B" />
<table:table-row table:style-name="EuropassCV_5f_CommunicationSkills.1">
<table:table-cell table:style-name="EuropassCV_5f_CommunicationSkills.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Communication}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_CommunicationSkills.A1" office:value-type="string">
{{#Template:LearnerInfo:Skills:Communication:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Communication:Description}}
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_OrganisationalSkills" table:style-name="EuropassCV_5f_OrganisationalSkills">
<table:table-column table:style-name="EuropassCV_5f_OrganisationalSkills.A" />
<table:table-column table:style-name="EuropassCV_5f_OrganisationalSkills.B" />
<table:table-row table:style-name="EuropassCV_5f_OrganisationalSkills.1">
<table:table-cell table:style-name="EuropassCV_5f_OrganisationalSkills.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Organisational}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_OrganisationalSkills.A1" office:value-type="string">
{{#Template:LearnerInfo:Skills:Organisational:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Organisational:Description}}
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_JobRelatedSkills" table:style-name="EuropassCV_5f_JobRelatedSkills">
<table:table-column table:style-name="EuropassCV_5f_JobRelatedSkills.A" />
<table:table-column table:style-name="EuropassCV_5f_JobRelatedSkills.B" />
<table:table-row table:style-name="EuropassCV_5f_JobRelatedSkills.1">
<table:table-cell table:style-name="EuropassCV_5f_JobRelatedSkills.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:JobRelated}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_JobRelatedSkills.A1" office:value-type="string">
{{#Template:LearnerInfo:Skills:JobRelated:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:JobRelated:Description}}
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_ComputerSkills" table:style-name="Table1">
<table:table-column table:style-name="Table1.A"/>
<table:table-column table:style-name="Table1.B"/>
<table:table-column table:style-name="Table1.C"/>
<table:table-column table:style-name="Table1.D"/>
<table:table-column table:style-name="Table1.E"/>
<table:table-column table:style-name="Table1.F"/>

<table:table-row table:style-name="Table1.2">
<table:table-cell table:style-name="Table1.A1" table:number-rows-spanned="2" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Computer}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table1.B3" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="P9">{{{LearnerInfo:Skills:Computer:ProficiencyLevel}}}</text:p>

</table:table-cell>
</table:table-row>
<table:table-row table:style-name="Table1.2_ICT">
<table:covered-table-cell/>
<table:table-cell table:style-name="Table1.B4_ICT" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:Information}}}</text:p>
</table:table-cell>

<table:table-cell table:style-name="Table1.C4_ICT" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:Communication}}}</text:p>
</table:table-cell>

<table:table-cell table:style-name="Table1.C4_ICT" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:ContentCreation}}}</text:p>
</table:table-cell>

<table:table-cell table:style-name="Table1.C4_ICT" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:Safety}}}</text:p>
</table:table-cell>

<table:table-cell table:style-name="Table1.C4_ICT" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageSubHeading">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:ProblemSolving}}}</text:p>
</table:table-cell>
</table:table-row>


<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A5" office:value-type="string">
</table:table-cell>
<table:table-cell table:style-name="Table1.B5_ICT" office:value-type="string">
	
		<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Computer:Information:ProficiencyLevel}}}</text:p>
	
</table:table-cell>

<table:table-cell table:style-name="Table1.C5_ICT" office:value-type="string">

		<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Computer:Communication:ProficiencyLevel}}}</text:p>
	
</table:table-cell>

<table:table-cell table:style-name="Table1.C5_ICT" office:value-type="string">
	
		<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Computer:ContentCreation:ProficiencyLevel}}}</text:p>
	
</table:table-cell>

<table:table-cell table:style-name="Table1.C5_ICT" office:value-type="string">
	
		<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Computer:ProblemSolving:ProficiencyLevel}}}</text:p>

</table:table-cell>

<table:table-cell table:style-name="Table1.C5_ICT" office:value-type="string">

		<text:p text:style-name="P10">{{{Template:LearnerInfo:Skills:Computer:Information:ProficiencyLevel}}}</text:p>

</table:table-cell>
</table:table-row>


<table:table-row table:style-name="Table1.11">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="Standard"/>
</table:table-cell>
<table:table-cell table:style-name="Table1.B10_ICT" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageExplanation">

<text:a xlink:type="simple" xlink:href="{{{ictURL}}}">{{{LearnerInfo:Skills:Computer:ProficiencyLevel:ICT}}}</text:a>
</text:p>
</table:table-cell>
<table:covered-table-cell/>
<table:covered-table-cell/>
<table:covered-table-cell/>
<table:covered-table-cell/>
</table:table-row>

<table:table-row table:style-name="Table1.5">
<table:table-cell table:style-name="Table1.A1" office:value-type="string">
<text:p text:style-name="Standard"/>
</table:table-cell>
<table:table-cell table:style-name="Table1.B6" table:number-columns-spanned="5" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LanguageCertificate">
     {{{Template:LearnerInfo:Skills:Computer:Certificate:Title}}}
     <text:line-break/>
</text:p>
</table:table-cell>
<table:covered-table-cell/>
<table:covered-table-cell/>
<table:covered-table-cell/>
<table:covered-table-cell/>
</table:table-row>


<table:table-row table:style-name="Table1.2">
	<table:table-cell table:style-name="Table1.A5" office:value-type="string">
		<text:p text:style-name="_5f_ECV_5f_LanguageName"/>
	</table:table-cell>

	<table:table-cell table:style-name="Table1.B9_ICT" table:number-columns-spanned="5" office:value-type="string">
		{{#Template:LearnerInfo:Skills:Computer:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Computer:Description}}
	</table:table-cell>
	
</table:table-row>
</table:table>


<!--  OLD COMPUTER SKILLS -->
<!-- <table:table table:name="EuropassCV_ComputerSkills" table:style-name="EuropassCV_5f_ComputerSkills"> -->
<!-- <table:table-column table:style-name="EuropassCV_5f_ComputerSkills.A" /> -->
<!-- <table:table-column table:style-name="EuropassCV_5f_ComputerSkills.B" /> -->
<!-- <table:table-row table:style-name="EuropassCV_5f_ComputerSkills.1"> -->
<!-- <table:table-cell table:style-name="EuropassCV_5f_ComputerSkills.A1" office:value-type="string"> -->
<!-- <text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Computer}}}</text:p> -->
<!-- </table:table-cell> -->
<!-- <table:table-cell table:style-name="EuropassCV_5f_ComputerSkills.A1" office:value-type="string"> -->
<!-- {{#Template:LearnerInfo:Skills:Computer:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Computer:Description}} -->
<!-- </table:table-cell> -->
<!-- </table:table-row> -->
<!-- </table:table> -->
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="Table6" table:style-name="Table6">
<table:table-column table:style-name="Table6.A"/>
<table:table-column table:style-name="Table6.B"/>
<table:table-row table:style-name="Table6.1">
<table:table-cell table:style-name="Table6.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Other}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table6.A1" office:value-type="string">
{{#Template:LearnerInfo:Skills:Other:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Other:Description}}
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="Standard"/>
<table:table table:name="EuropassCV_DrivingLicence" table:style-name="EuropassCV_5f_DrivingLicence">
<table:table-column table:style-name="EuropassCV_5f_DrivingLicence.A" />
<table:table-column table:style-name="EuropassCV_5f_DrivingLicence.B" />
<table:table-row table:style-name="EuropassCV_5f_DrivingLicence.1">
<table:table-cell table:style-name="EuropassCV_5f_DrivingLicence.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails">{{{LearnerInfo:Skills:Driving}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_DrivingLicence.A1" office:value-type="string">
{{#Template:LearnerInfo:Skills:Driving:Description}}{{{odt}}}{{/Template:LearnerInfo:Skills:Driving:Description}}
</table:table-cell>
</table:table-row>
</table:table>


<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_AdditionalInformation" table:style-name="EuropassCV_5f_AdditionalInformation">
<table:table-column table:style-name="EuropassCV_5f_AdditionalInformation.A" />
<table:table-column table:style-name="EuropassCV_5f_AdditionalInformation.B" />
<table:table-row table:style-name="EuropassCV_5f_AdditionalInformation.1">
<table:table-cell table:style-name="EuropassCV_5f_AdditionalInformation.A1" office:value-type="string">
<text:p text:style-name="P8">{{{LearnerInfo:Achievement}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_AdditionalInformation.B1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BlueBox">
<draw:frame draw:style-name="fr9" draw:name="graphics12" text:anchor-type="as-char" svg:y="-0.199cm" svg:width="13.3cm" svg:height="0.25cm" draw:z-index="13">
<draw:image xlink:href="Pictures/100002010000062000000021F9DDC83D.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="EuropassCV_Publications" table:style-name="EuropassCV_5f_Publications">
<table:table-column table:style-name="EuropassCV_5f_Publications.A" />
<table:table-column table:style-name="EuropassCV_5f_Publications.B" />
<table:table-row table:style-name="EuropassCV_5f_Publications.1">
<table:table-cell table:style-name="EuropassCV_5f_Publications.A1" office:value-type="string">
{{#Template:LearnerInfo:Achievement}}{{{subheading}}}{{/Template:LearnerInfo:Achievement}}
</table:table-cell>
<table:table-cell table:style-name="EuropassCV_5f_Publications.A1" office:value-type="string">
{{#Template:LearnerInfo:Achievement:All}}{{{odt}}}{{/Template:LearnerInfo:Achievement:All}}
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="Table2" table:style-name="Table2">
<table:table-column table:style-name="Table2.A" />
<table:table-column table:style-name="Table2.B" />
<table:table-row table:style-name="Table2.1">
<table:table-cell table:style-name="Table2.A1" office:value-type="string">
<text:p text:style-name="P8">{{{LearnerInfo:ReferenceTo}}}</text:p>
</table:table-cell>
<table:table-cell table:style-name="Table2.B1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_BlueBox">
<draw:frame draw:style-name="fr7" draw:name="graphics13" text:anchor-type="as-char" svg:width="13.3cm" svg:height="0.25cm" draw:z-index="4">
<draw:image xlink:href="Pictures/100002010000062000000021F9DDC83D.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad" />
</draw:frame>
</text:p>
</table:table-cell>
</table:table-row>
</table:table>
<text:p text:style-name="_5f_ECV_5f_Text" />
<table:table table:name="Table3" table:style-name="Table3">
<table:table-column table:style-name="Table3.A" />
<table:table-column table:style-name="Table3.B" />
<table:table-row table:style-name="Table3.1">
<table:table-cell table:style-name="Table3.A1" office:value-type="string">
<text:p text:style-name="_5f_ECV_5f_LeftDetails" />
</table:table-cell>
<table:table-cell table:style-name="Table3.A1" office:value-type="string">
{{#Template:LearnerInfo:ReferenceTo}}{{{odt}}}{{/Template:LearnerInfo:ReferenceTo}}
</table:table-cell>
</table:table-row>
</table:table>

</office:text>
</office:body>
</office:document-content>