<div class="note">
	<div class="import warning">
		<span class="icon"></span>
		<div class="text">
			<span class="warning">{{get_text "text.warning" group="GuiLabel"}}</span
			>{{get_text "warning.upload.cv" group="Notification"}}</div>
	</div>
</div>