<header>
<legend class="normal">{{get_text "import.wizard.step.googledrive.desc" group="GuiLabel"}}</legend>
<legend class="on-success">{{get_text "import.wizard.step.googledrive.desc.on.success" group="GuiLabel"}}</legend>
<legend class="on-error">{{get_text "import.wizard.step.googledrive.desc.on.error" group="GuiLabel"}}</legend>
</header>

<fieldset class="step-info">
	
	<div class="note googledrive">
		<span class="icon"></span>
		<div class="text">{{get_text "import.wizard.step.googledrive.details" group="GuiLabel"}}</div>
	</div>
	
	{{> templates/upload/dataexistswarning}}
	
	
</fieldset>
