<button id="import-wizard-init-btn"
		type="button"
		class="import-wizard upload button grey-btn-padding"
		data-href="upload">
	<span>{{get_text "text.import.new" group="GuiLabel"}}</span>
</button>