<fieldset class=" uploading-container upload-area" id="fileupload">
	<menu class="import choose-file">
		<span class="button blue upload">
			<span class="title">{{get_text "text.browse.file" group="GuiLabel"}}</span>
			<input type="file" title="file" name="file" size="1" />
		</span>
	</menu>
</fieldset>