<div class="context-recommendations-list tooltip" name="{{sectionName}}">
	<div class="tooltip-arrow">
		<div class="context-list tooltip-inner left">
			<ul class="noListStyle">{{{html}}}</ul>
		</div>
	</div>
</div>
