<?xml version="1.0" encoding="UTF-8"?>
<office:document-styles
xmlns:office="urn:oasis:names:tc:opendocument:xmlns:office:1.0"
xmlns:style="urn:oasis:names:tc:opendocument:xmlns:style:1.0"
xmlns:text="urn:oasis:names:tc:opendocument:xmlns:text:1.0"
xmlns:table="urn:oasis:names:tc:opendocument:xmlns:table:1.0"
xmlns:draw="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0"
xmlns:fo="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0"
xmlns:xlink="http://www.w3.org/1999/xlink"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:meta="urn:oasis:names:tc:opendocument:xmlns:meta:1.0"
xmlns:number="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0"
xmlns:svg="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0"
xmlns:chart="urn:oasis:names:tc:opendocument:xmlns:chart:1.0"
xmlns:dr3d="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0"
xmlns:math="http://www.w3.org/1998/Math/MathML"
xmlns:form="urn:oasis:names:tc:opendocument:xmlns:form:1.0"
xmlns:script="urn:oasis:names:tc:opendocument:xmlns:script:1.0"
xmlns:ooo="http://openoffice.org/2004/office"
xmlns:ooow="http://openoffice.org/2004/writer"
xmlns:oooc="http://openoffice.org/2004/calc"
xmlns:dom="http://www.w3.org/2001/xml-events"
xmlns:rpt="http://openoffice.org/2005/report"
xmlns:of="urn:oasis:names:tc:opendocument:xmlns:of:1.2"
xmlns:xhtml="http://www.w3.org/1999/xhtml"
xmlns:grddl="http://www.w3.org/2003/g/data-view#"
xmlns:tableooo="http://openoffice.org/2009/table" office:version="1.2">
<office:font-face-decls>
<style:font-face style:name="Mangal1" svg:font-family="Mangal"/>
<style:font-face style:name="OpenSymbol" svg:font-family="OpenSymbol"/>
<style:font-face style:name="Segoe UI" svg:font-family="&apos;Segoe UI&apos;" style:font-adornments="Regular"/>
<style:font-face style:name="ArialMT" svg:font-family="ArialMT" style:font-family-generic="swiss"/>
<style:font-face style:name="Times New Roman" svg:font-family="&apos;Times New Roman&apos;" style:font-family-generic="roman" style:font-pitch="variable"/>
<style:font-face style:name="Arial" svg:font-family="Arial" style:font-family-generic="swiss" style:font-pitch="variable"/>
<style:font-face style:name="Arial1" svg:font-family="Arial" style:font-adornments="Regular" style:font-family-generic="swiss" style:font-pitch="variable"/>
<style:font-face style:name="Mangal" svg:font-family="Mangal" style:font-family-generic="system" style:font-pitch="variable"/>
<style:font-face style:name="Microsoft YaHei" svg:font-family="&apos;Microsoft YaHei&apos;" style:font-family-generic="system" style:font-pitch="variable"/>
<style:font-face style:name="SimSun" svg:font-family="SimSun" style:font-family-generic="system" style:font-pitch="variable"/>
</office:font-face-decls>
<office:styles>
{{=[[ ]]=}}	
{{#DocumentInfo.withCoverLetter}}
[[> odt/partials/ecl-office-styles]]
{{/DocumentInfo.withCoverLetter}}
{{#DocumentInfo.withLanguagePassport}}
[[> odt/partials/elp-office-styles]]
{{/DocumentInfo.withLanguagePassport}}
<style:default-style style:family="graphic">
<style:graphic-properties svg:stroke-color="#808080" draw:fill-color="#cfe7f5" fo:wrap-option="no-wrap" draw:shadow-offset-x="0.3cm" draw:shadow-offset-y="0.3cm" draw:start-line-spacing-horizontal="0.283cm" draw:start-line-spacing-vertical="0.283cm" draw:end-line-spacing-horizontal="0.283cm" draw:end-line-spacing-vertical="0.283cm" style:flow-with-text="false"/>
<style:paragraph-properties style:text-autospace="ideograph-alpha" style:line-break="strict" style:writing-mode="lr-tb" style:font-independent-line-spacing="false">
<style:tab-stops/>
</style:paragraph-properties>
<style:text-properties style:use-window-font-color="true" fo:font-size="12pt" fo:language="en" fo:country="GB" style:letter-kerning="true" style:font-size-asian="12pt" style:language-asian="zh" style:country-asian="CN" style:font-size-complex="12pt" style:language-complex="hi" style:country-complex="IN"/>
</style:default-style>
<style:default-style style:family="paragraph">
<style:paragraph-properties fo:hyphenation-ladder-count="no-limit" style:text-autospace="ideograph-alpha" style:punctuation-wrap="hanging" style:line-break="strict" style:tab-stop-distance="1.251cm" style:writing-mode="page"/>
<style:text-properties style:use-window-font-color="true" style:font-name="Times New Roman" fo:font-size="12pt" fo:language="en" fo:country="GB" style:letter-kerning="true" style:font-name-asian="SimSun" style:font-size-asian="12pt" style:language-asian="zh" style:country-asian="CN" style:font-name-complex="Mangal" style:font-size-complex="12pt" style:language-complex="hi" style:country-complex="IN" fo:hyphenate="false" fo:hyphenation-remain-char-count="2" fo:hyphenation-push-char-count="2"/>
</style:default-style>
<style:default-style style:family="table">
<style:table-properties table:border-model="collapsing"/>
</style:default-style>
<style:default-style style:family="table-row">
<style:table-row-properties fo:keep-together="auto"/>
</style:default-style>
<style:style style:name="Standard" style:family="paragraph" style:class="text">
<style:text-properties fo:color="#3f3a38" style:font-name="Arial1" fo:font-size="8pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="Heading" style:family="paragraph" style:parent-style-name="Standard" style:next-style-name="Text_20_body" style:class="text">
<style:paragraph-properties fo:margin-top="0.423cm" fo:margin-bottom="0.212cm" fo:keep-with-next="always"/>
<style:text-properties style:font-name="Arial" fo:font-size="14pt" style:font-name-asian="Microsoft YaHei" style:font-size-asian="14pt" style:font-name-complex="Mangal" style:font-size-complex="14pt"/>
</style:style>
<style:style style:name="Text_20_body" style:display-name="Text body" style:family="paragraph" style:parent-style-name="Standard" style:class="text">
<style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%"/>
<style:text-properties style:font-name="Arial1" fo:font-size="8pt"/>
</style:style>
<style:style style:name="List" style:family="paragraph" style:parent-style-name="Text_20_body" style:class="list">
<style:text-properties style:font-name-complex="Mangal1"/>
</style:style>
<style:style style:name="Caption" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties fo:margin-top="0.212cm" fo:margin-bottom="0.212cm" text:number-lines="false" text:line-number="0"/>
<style:text-properties fo:font-size="12pt" fo:font-style="italic" style:font-size-asian="12pt" style:font-style-asian="italic" style:font-name-complex="Mangal1" style:font-size-complex="12pt" style:font-style-complex="italic"/>
</style:style>
<style:style style:name="Index" style:family="paragraph" style:parent-style-name="Standard" style:class="index">
<style:paragraph-properties text:number-lines="false" text:line-number="0"/>
<style:text-properties style:font-name-complex="Mangal1"/>
</style:style>
<style:style style:name="Table_20_Contents" style:display-name="Table Contents" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties text:number-lines="false" text:line-number="0"/>
</style:style>
<style:style style:name="Table_20_Heading" style:display-name="Table Heading" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:class="extra">
<style:paragraph-properties fo:text-align="center" style:justify-single-word="false" text:number-lines="false" text:line-number="0"/>
<style:text-properties fo:font-weight="bold" style:font-weight-asian="bold" style:font-weight-complex="bold"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LeftHeading" style:display-name="_ECV_LeftHeading" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:class="extra" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0.499cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:text-transform="uppercase" fo:color="#0e4194" style:font-name="Arial1" fo:font-size="9pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_MiddleColumn" style:display-name="_ECV_MiddleColumn" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:class="extra" >
<style:paragraph-properties style:page-number="auto"/>
<style:text-properties fo:color="#404040" fo:font-size="10pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_RightColumn" style:display-name="_ECV_RightColumn" style:family="paragraph" style:parent-style-name="Table_20_Contents" style:class="extra">
<style:paragraph-properties fo:margin-top="0.109cm" fo:margin-bottom="0cm"/>
<style:text-properties fo:color="#404040" style:font-name="Arial1" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_NameField" style:display-name="_ECV_NameField" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:class="extra" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" style:font-name="Arial" fo:font-size="13pt" fo:letter-spacing="-0.011cm" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_RightHeading" style:display-name="_ECV_RightHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_NameField" style:class="extra" >
<style:paragraph-properties fo:margin-top="0.109cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-align="end" style:justify-single-word="false" style:page-number="auto" text:number-lines="false" text:line-number="0">
<style:tab-stops/>
</style:paragraph-properties>
<style:text-properties fo:color="#1593cb" fo:font-size="7.5pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_First_5f_Page_5f_Paragraph" style:display-name="_ECV_First_Page_Paragraph" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightHeading" style:class="extra" >
<style:paragraph-properties fo:margin-top="0.379cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-align="start" style:justify-single-word="false" style:page-number="auto" fo:background-color="transparent">
<style:tab-stops>
<style:tab-stop style:position="5.001cm"/>
<style:tab-stop style:position="18cm" style:type="right"/>
</style:tab-stops>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#1593cb" fo:font-size="10pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_ContactDetails" 
			style:display-name="_ECV_ContactDetails" 
			style:family="paragraph" 
			style:parent-style-name="_5f_ECV_5f_NameField" 
			style:class="extra" >
<style:paragraph-properties fo:line-height="100%" style:page-number="auto" fo:background-color="transparent" style:shadow="none" text:number-lines="false" text:line-number="0" style:vertical-align="middle">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" fo:font-size="9pt" style:text-underline-style="none" style:letter-kerning="false"/>
</style:style>
<style:style style:name="_5f_ECV_5f_NarrowSpacing" style:display-name="_ECV_NarrowSpacing" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" >
<style:paragraph-properties style:page-number="auto" fo:background-color="transparent" style:shadow="none" text:number-lines="false" text:line-number="0">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#402c24" fo:font-size="4pt" style:font-size-asian="5pt" style:font-size-complex="5pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_SectionSpacing" style:display-name="_ECV_SectionSpacing" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:class="extra" >
<style:paragraph-properties style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#404040"/>
</style:style>
<style:style style:name="Table" style:family="paragraph" style:parent-style-name="Caption" style:class="extra"/>
<style:style style:name="_5f_ECV_5f_SubSectionHeading" style:display-name="_ECV_SubSectionHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#0e4194" style:font-name="Arial1" fo:font-size="11pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_OrganisationDetails" style:display-name="_ECV_OrganisationDetails" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:list-style-name="" >
<style:paragraph-properties fo:margin-top="0.101cm" fo:margin-bottom="0.15cm" fo:line-height="100%" fo:text-align="start" style:justify-single-word="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none" style:text-autospace="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" style:font-name="Arial1" fo:font-size="10pt" fo:letter-spacing="-0.011cm" style:font-name-asian="ArialMT" style:font-size-asian="10pt" style:font-name-complex="ArialMT" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="europass_5f_SectionDetails" style:display-name="Europass_SectionDetails" style:family="paragraph" style:parent-style-name="Standard" style:default-outline-level="" style:list-style-name="" >
<style:paragraph-properties fo:margin-top="0.49mm" fo:margin-bottom="0.99mm" style:contextual-spacing="false" fo:line-height="100%" style:page-number="auto" fo:background-color="transparent" style:shadow="none" text:number-lines="false" text:line-number="0" style:text-autospace="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" style:font-name="Arial1" fo:font-size="9pt" fo:letter-spacing="-0.11mm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_PersonalStatement" style:display-name="_ECV_PersonalStatement" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:class="extra" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0.99mm" style:contextual-spacing="false" fo:line-height="100%" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" style:font-name="Arial" fo:font-size="10pt" fo:letter-spacing="-0.011cm" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_SectionBullet" style:display-name="_ECV_SectionBullet" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:default-outline-level="1" >
<style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:drop-cap/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38"/>
</style:style>
<style:style style:name="CV_20_Major" style:display-name="CV Major" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties fo:margin="100%" fo:margin-left="0.199cm" fo:margin-right="0.199cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-indent="0cm" style:auto-text-indent="false"/>
<style:text-properties fo:font-size="12pt" fo:font-weight="bold"/>
</style:style>
<style:style style:name="_5f_ECV_5f_Date" style:display-name="_ECV_Date" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0.499cm" fo:margin-top="0.049cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none" style:vertical-align="top">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:font-variant="normal" fo:text-transform="none" fo:color="#0e4194"/>
</style:style>
<style:style style:name="CV_20_Heading_20_3" style:display-name="CV Heading 3" style:family="paragraph" style:parent-style-name="Standard" style:next-style-name="Standard">
<style:paragraph-properties fo:margin="100%" fo:margin-left="0.199cm" fo:margin-right="0.199cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" fo:text-indent="0cm" style:auto-text-indent="false" style:vertical-align="middle">
<style:tab-stops/>
</style:paragraph-properties>
</style:style>
<style:style style:name="_5f_ECV_5f_HeadingLine" style:display-name="_ECV_HeadingLine" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_SubSectionHeading">
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-indent="0cm" style:auto-text-indent="false" fo:background-color="transparent" fo:padding="0cm" fo:border="none" style:shadow="none" style:join-border="false">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#17ace6"/>
</style:style>
<style:style style:name="Header" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties fo:background-color="transparent" text:number-lines="false" text:line-number="0">
<style:tab-stops>
<style:tab-stop style:position="9.001cm" style:type="center"/>
<style:tab-stop style:position="18.002cm" style:type="right"/>
</style:tab-stops>
<style:background-image/>
</style:paragraph-properties>
</style:style>
<style:style style:name="_5f_ECV_5f_Attachment" style:display-name="_ECV_Attachment" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" >
<style:paragraph-properties fo:text-align="end" style:justify-single-word="false" style:page-number="auto" style:shadow="none"/>
<style:text-properties style:text-underline-style="solid" style:text-underline-width="auto" style:text-underline-color="font-color"/>
</style:style>
<style:style style:name="_5f_ECV_5f_HeaderFirstPage" style:display-name="_ECV_HeaderFirstPage" style:family="paragraph" style:parent-style-name="Header" >
<style:paragraph-properties fo:line-height="100%" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:tab-stops>
<style:tab-stop style:position="5.001cm" style:type="center"/>
<style:tab-stop style:position="9.001cm" style:type="center"/>
<style:tab-stop style:position="18.002cm" style:type="right"/>
</style:tab-stops>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#17ace6" style:font-name="Arial1" fo:font-size="10pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_HeaderOtherPage" style:display-name="_ECV_HeaderOtherPage" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_HeaderFirstPage"/>
<style:style style:name="_5f_ECV_5f_LeftDetails" style:display-name="_ECV_LeftDetails" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading" style:class="extra">
<style:paragraph-properties fo:margin-top="0.041cm" fo:margin-bottom="0cm" style:shadow="none"/>
<style:text-properties fo:font-variant="normal" fo:text-transform="none" fo:color="#0e4194"/>
</style:style>
<style:style style:name="Footer" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties fo:background-color="transparent" style:shadow="none" text:number-lines="false" text:line-number="0">
<style:tab-stops>
<style:tab-stop style:position="5.001cm" style:type="right"/>
<style:tab-stop style:position="18cm"/>
</style:tab-stops>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#1593cb" style:font-name="Arial1" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageHeading" style:display-name="_ECV_LanguageHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:class="extra" >
<style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-align="center" style:justify-single-word="false" style:page-number="auto">
<style:tab-stops/>
</style:paragraph-properties>
<style:text-properties fo:text-transform="uppercase" fo:color="#0e4194" style:font-name="Arial1" fo:font-size="7pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageSubHeading" style:display-name="_ECV_LanguageSubHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LanguageHeading" style:class="extra" >
<style:paragraph-properties fo:line-height="100%" style:page-number="auto" fo:background-color="transparent" style:shadow="none">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:font-variant="normal" fo:text-transform="none" fo:font-size="8pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageLevel" style:display-name="_ECV_LanguageLevel" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="extra" >
<style:paragraph-properties fo:line-height="100%" fo:text-align="center" style:justify-single-word="false" style:page-number="auto" style:vertical-align="middle"/>
<style:text-properties fo:text-transform="uppercase"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageCertificate" style:display-name="_ECV_LanguageCertificate" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_RightColumn" style:class="extra" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0.499cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%" fo:text-align="center" style:justify-single-word="false" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#3f3a38" style:font-name="Arial1" fo:font-size="8pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageExplanation" style:display-name="_ECV_LanguageExplanation" style:family="paragraph" style:parent-style-name="Standard" style:list-style-name="" style:class="extra">
<style:paragraph-properties fo:line-height="100%" fo:background-color="transparent" style:shadow="none" style:text-autospace="none">
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:color="#0e4194" style:font-name="Arial1" fo:font-size="7.5pt" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_Links" style:display-name="_ECV_Links" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_ContactDetails" >
<style:paragraph-properties style:page-number="auto"/>
<style:text-properties style:text-underline-style="solid" style:text-underline-width="auto" style:text-underline-color="#404040"/>
</style:style>
<style:style style:name="_5f_ECV_5f_Text" style:display-name="_ECV_Text" style:family="paragraph" style:parent-style-name="Text_20_body">
	<style:paragraph-properties fo:margin-top="0cm" fo:margin-bottom="0cm" fo:line-height="100%"/>
	<style:text-properties fo:font-size="8pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_BusinessSector" style:display-name="_ECV_BusinessSector" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_OrganisationDetails">
<style:paragraph-properties fo:margin-top="0.199cm" fo:margin-bottom="0cm" fo:line-height="100%"/>
</style:style>
<style:style style:name="_5f_ECV_5f_LanguageName" style:display-name="_ECV_LanguageName" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LanguageCertificate">
<style:paragraph-properties fo:text-align="end" style:justify-single-word="false" fo:background-color="transparent" style:shadow="none">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:font-size="9pt"/>
</style:style>
<style:style style:name="Heading_20_1" style:display-name="Heading 1" style:family="paragraph" style:parent-style-name="Heading" style:next-style-name="Text_20_body" style:default-outline-level="1" style:class="text">
<style:text-properties fo:font-size="115%" fo:font-weight="bold" style:font-size-asian="115%" style:font-weight-asian="bold" style:font-size-complex="115%" style:font-weight-complex="bold"/>
</style:style>
<style:style style:name="Heading_20_2" style:display-name="Heading 2" style:family="paragraph" style:parent-style-name="Heading" style:next-style-name="Text_20_body" style:default-outline-level="2" style:class="text">
<style:text-properties fo:font-size="14pt" fo:font-style="italic" fo:font-weight="bold" style:font-size-asian="14pt" style:font-style-asian="italic" style:font-weight-asian="bold" style:font-size-complex="14pt" style:font-style-complex="italic" style:font-weight-complex="bold"/>
</style:style>
<style:style style:name="_5f_ECV_5f_PersonalInfoHeading" style:display-name="_ECV_PersonalInfoHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading" style:class="extra">
<style:paragraph-properties fo:margin-top="0.101cm" fo:margin-bottom="0cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_OccupationalFieldHeadingPersonal" style:display-name="_ECV_OccupationalFieldHeadingPersonal" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading" style:class="extra">
<style:paragraph-properties fo:margin-top="0.04cm" fo:margin-bottom="0cm"/>
<style:text-properties fo:color="#0e4194"/>
</style:style>
<style:style style:name="_5f_ECV_5f_OccupationalFieldHeading" style:display-name="_ECV_OccupationalFieldHeading" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_LeftHeading" style:class="extra">
<style:paragraph-properties fo:margin-top="0.101cm" fo:margin-bottom="0cm"/>
<style:text-properties fo:color="#0e4194"/>
</style:style>
<style:style style:name="_5f_ECV_5f_GenderRow" style:display-name="_ECV_GenderRow" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties fo:margin-top="0.15cm" fo:margin-bottom="0cm"/>
<style:text-properties fo:color="#1593cb" fo:letter-spacing="-0.011cm"/>
</style:style>
<style:style style:name="_5f_ECV_5f_Next_5f_Pages_5f_Paragraph" style:display-name="_ECV_Next_Pages_Paragraph" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_First_5f_Page_5f_Paragraph" style:class="extra">
<style:paragraph-properties fo:margin-top="0.27cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" style:vertical-align="auto">
<style:tab-stops>
<style:tab-stop style:position="4.951cm"/>
<style:tab-stop style:position="18.256cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
</style:style>
<style:style style:name="_5f_ECV_5f_BusinessSctionRow" style:display-name="_ECV_BusinessSctionRow" style:family="paragraph" style:parent-style-name="Standard"/>
<style:style style:name="_5f_ECV_5f_BusinessSectorRow" style:display-name="_ECV_BusinessSectorRow" style:family="paragraph" style:parent-style-name="Standard">
<style:text-properties fo:color="#3f3a38"/>
</style:style>
<style:style style:name="_5f_ECV_5f_BlueBox" style:display-name="_ECV_BlueBox" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_NarrowSpacing" >
<style:paragraph-properties fo:margin="100%" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="0cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" fo:text-indent="0cm" style:auto-text-indent="false" style:page-number="auto" fo:background-color="transparent" style:shadow="none" style:vertical-align="bottom">
<style:tab-stops/>
<style:background-image/>
</style:paragraph-properties>
<style:text-properties fo:letter-spacing="normal"/>
</style:style>
<style:style style:name="_5f_ESP_5f_Pages_5f_Paragraph" style:display-name="_ESP_Pages_Paragraph" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_Next_5f_Pages_5f_Paragraph"/>
<style:style style:name="_5f_ESP_5f_Text" style:display-name="_ESP_Text" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_Text"/>
<style:style style:name="_5f_ESP_5f_Heading" style:display-name="_ESP_Heading" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Text">
<style:text-properties fo:font-size="16pt" fo:font-weight="bold" style:font-size-asian="16pt" style:font-weight-asian="bold" style:font-size-complex="16pt" style:font-weight-complex="bold"/>
</style:style>
<style:style style:name="Footer_20_left" style:display-name="Footer left" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties text:number-lines="false" text:line-number="0">
<style:tab-stops>
<style:tab-stop style:position="9.151cm" style:type="center"/>
<style:tab-stop style:position="18.302cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
</style:style>
<style:style style:name="Footer_20_right" style:display-name="Footer right" style:family="paragraph" style:parent-style-name="Standard" style:class="extra">
<style:paragraph-properties text:number-lines="false" text:line-number="0">
<style:tab-stops>
<style:tab-stop style:position="9.151cm" style:type="center"/>
<style:tab-stop style:position="18.302cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
</style:style>
<style:style style:name="_5f_ECV_5f_RelatedDocumentRow" style:display-name="_ECV_RelatedDocumentRow" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_BusinessSectorRow"/>
<style:style style:name="_5f_ECV_5f_HeadingContactDetails" style:display-name="_ECV_HeadingContactDetails" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="9pt" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>
<style:style style:name="_5f_ECV_5f_ContactDetails" style:display-name="_ECV_ContactDetails" style:family="text" style:parent-style-name="_5f_ECV_5f_HeadingContactDetails">
<style:text-properties fo:color="#3f3a38" style:font-name="Arial" fo:font-size="9pt" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>

<style:style style:name="Numbering_20_Symbols" style:display-name="Numbering Symbols" style:family="text"/>

<style:style style:name="Bullet_20_Symbols" style:display-name="Bullet Symbols" style:family="text">
	<style:text-properties style:font-name="OpenSymbol" style:font-name-asian="OpenSymbol" style:font-name-complex="OpenSymbol"/>
</style:style>
<style:style style:name="Line_20_numbering" style:display-name="Line numbering" style:family="text"/>
	<style:style style:name="Internet_20_link" style:display-name="Internet link" style:family="text">
	<style:text-properties fo:color="#000000" fo:language="zxx" fo:country="none" style:text-underline-style="solid" style:text-underline-width="auto" style:text-underline-color="font-color" style:language-asian="zxx" style:country-asian="none" style:language-complex="zxx" style:country-complex="none"/>
</style:style>
<style:style style:name="_5f_ECV_5f_InternetLink" style:display-name="_ECV_InternetLink" style:family="text" style:parent-style-name="Internet_20_link">
	<style:text-properties fo:color="#3f3a38" style:font-name="Arial1" fo:font-size="9pt" fo:language="en" fo:country="GB" style:text-underline-style="solid" style:text-underline-width="auto" style:text-underline-color="#404040" fo:background-color="transparent"/>
</style:style>
<style:style style:name="_5f_ECV_5f_HeadingBusinessSector" style:display-name="_ECV_HeadingBusinessSector" style:family="text" style:parent-style-name="_5f_ECV_5f_HeadingContactDetails">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="9pt" fo:letter-spacing="-0.011cm" fo:background-color="transparent" style:font-size-asian="9pt" style:font-size-complex="9pt"/>
</style:style>

<style:style style:name="europass_5f_Text_5f_Subscript" 
			 style:display-name="Europass_Text_Subscript" 
			 style:family="text" 
			 style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:text-position="sub 58%" />
</style:style>
<style:style style:name="europass_5f_Text_5f_Superscript" 
			 style:display-name="Europass_Text_Superscript" 
			 style:family="text" 
			 style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:text-position="super 58%" />
</style:style>

<style:style style:name="europass_5f_Text_5f_Bold" style:display-name="Europass_Text_Bold" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   fo:font-weight="bold"/>
</style:style>
<style:style style:name="europass_5f_Text_5f_Underline" style:display-name="Europass_Text_Underline" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   style:text-underline-style="solid" 
						   style:text-underline-width="auto" 
						   style:text-underline-color="font-color"/>
</style:style>
<style:style style:name="europass_5f_Text_5f_Italics" style:display-name="Europass_Text_Italics" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   fo:font-style="italic"/>
</style:style>
<style:style style:name="europass_5f_Text_5f_Bold_5f_And_5f_Underline" style:display-name="Europass_Text_Bold_And_Underline" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   fo:font-weight="bold"
						   style:text-underline-style="solid" 
						   style:text-underline-width="auto" 
						   style:text-underline-color="font-color"/>
</style:style>

<style:style style:name="europass_5f_Text_5f_Bold_5f_And_5f_Italics" style:display-name="Europass_Text_Bold_And_Italics" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   fo:font-weight="bold"
						   fo:font-style="italic"/>
</style:style>

<style:style style:name="europass_5f_Text_5f_Bold_5f_And_5f_Underline_5f_And_5f_Italics" style:display-name="Europass_Text_Bold_And_Underline_And_Italics" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial"
						   fo:font-weight="bold"
						   fo:font-style="italic"
						   style:text-underline-style="solid" 
						   style:text-underline-width="auto" 
						   style:text-underline-color="font-color"/>
</style:style>

<style:style style:name="europass_5f_Text_5f_Underline_5f_And_5f_Italics" style:display-name="Europass_Text_Underline_And_Italics" style:family="text" style:parent-style-name="europass_5f_SectionDetails">
	<style:text-properties style:font-name="Arial" 
						   fo:font-style="italic"
						   style:text-underline-style="solid" 
						   style:text-underline-width="auto" 
						   style:text-underline-color="font-color"/>
</style:style>

<style:style style:name="Visited_20_Internet_20_Link" style:display-name="Visited Internet Link" style:family="text">
<style:text-properties fo:color="#800000" fo:language="zxx" fo:country="none" style:text-underline-style="solid" style:text-underline-width="auto" style:text-underline-color="font-color" style:language-asian="zxx" style:country-asian="none" style:language-complex="zxx" style:country-complex="none"/>
</style:style>
<style:style style:name="Graphics" style:family="graphic">
<style:graphic-properties svg:width="13.289cm" fo:min-height="0.25cm" text:anchor-type="paragraph" svg:x="0cm" svg:y="0cm" style:wrap="parallel" style:number-wrapped-paragraphs="no-limit" style:wrap-contour="false" style:vertical-pos="top" style:vertical-rel="paragraph" style:horizontal-pos="center" style:horizontal-rel="paragraph" fo:background-color="transparent" style:background-transparency="100%" style:shadow="none">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
</style:graphic-properties>
</style:style>
<style:style style:name="BlueBox" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties svg:width="0.259cm" svg:height="0.25cm" text:anchor-type="as-char" svg:x="6.532cm" svg:y="0.499cm" style:vertical-pos="bottom" style:vertical-rel="baseline" style:horizontal-pos="center" style:horizontal-rel="paragraph" fo:background-color="transparent" style:background-transparency="100%" style:shadow="none">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
</style:graphic-properties>
</style:style>
<style:style style:name="BlueBoxLine" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties svg:width="13.3cm" svg:height="0.25cm" text:anchor-type="as-char" svg:x="0.005cm" svg:y="-0.25cm" style:vertical-pos="bottom" style:vertical-rel="baseline" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" fo:background-color="transparent" style:background-transparency="100%" style:shadow="none">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
</style:graphic-properties>
</style:style>
<style:style style:name="Formula" style:family="graphic">
<style:graphic-properties text:anchor-type="as-char" svg:y="0cm" fo:margin-left="0.201cm" fo:margin-right="0.201cm" style:vertical-pos="middle" style:vertical-rel="text"/>
</style:style>
<style:style style:name="ContactIcon" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties svg:width="0.259cm" fo:min-height="0.325cm" text:anchor-type="char" svg:x="0cm" svg:y="0.019cm" fo:margin-left="0cm" fo:margin-right="0.199cm" style:wrap="parallel" style:number-wrapped-paragraphs="no-limit" style:wrap-contour="false" style:vertical-pos="middle" style:vertical-rel="paragraph-content" style:horizontal-pos="left" style:horizontal-rel="paragraph-content" fo:background-color="transparent" style:background-transparency="100%" style:shadow="none">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
</style:graphic-properties>
</style:style>
<style:style style:name="_2d_CV_20_Icons" style:display-name="-CV Icons" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties svg:width="0.228cm" svg:height="0.34cm" text:anchor-type="paragraph" svg:x="0cm" svg:y="0cm" style:wrap="none" style:vertical-pos="from-top" style:vertical-rel="paragraph" style:horizontal-pos="from-left" style:horizontal-rel="paragraph" fo:background-color="transparent" style:background-transparency="100%" style:shadow="none">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
</style:graphic-properties>
</style:style>

<text:outline-style style:name="Outline">
	<text:outline-level-style text:level="1" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="0.762cm" fo:text-indent="-0.762cm" fo:margin-left="0.762cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="2" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.016cm" fo:text-indent="-1.016cm" fo:margin-left="1.016cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="3" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.27cm" fo:text-indent="-1.27cm" fo:margin-left="1.27cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="4" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.524cm" fo:text-indent="-1.524cm" fo:margin-left="1.524cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="5" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="1.778cm" fo:text-indent="-1.778cm" fo:margin-left="1.778cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="6" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.032cm" fo:text-indent="-2.032cm" fo:margin-left="2.032cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="7" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.286cm" fo:text-indent="-2.286cm" fo:margin-left="2.286cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="8" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.54cm" fo:text-indent="-2.54cm" fo:margin-left="2.54cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="9" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="2.794cm" fo:text-indent="-2.794cm" fo:margin-left="2.794cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
	<text:outline-level-style text:level="10" style:num-format="">
	<style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
	<style:list-level-label-alignment text:label-followed-by="listtab" text:list-tab-stop-position="3.048cm" fo:text-indent="-3.048cm" fo:margin-left="3.048cm"/>
	</style:list-level-properties>
	</text:outline-level-style>
</text:outline-style>

<style:style style:name="europass_5f_numbered_5f_list" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="list">
</style:style>

<style:style style:name="europass_5f_bulleted_5f_list" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="list">
</style:style>
<style:style style:name="europass_5f_bulleted_5f_list_indent1" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="list">
</style:style>
<style:style style:name="europass_5f_bulleted_5f_list_indent2" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="list">
</style:style>
<style:style style:name="europass_5f_bulleted_5f_list_indent3" style:family="paragraph" style:parent-style-name="europass_5f_SectionDetails" style:class="list">
</style:style>

<!--  Numbered List -->
<text:list-style style:name="europass_5f_numbered_5f_list"
    style:display-name="europass_numbered_list">
    <text:list-level-style-number text:level="1" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.381cm" fo:text-indent="-0.381cm"
                fo:margin-left="0.381cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="2" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.762cm" fo:text-indent="-0.381cm"
                fo:margin-left="0.762cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="3" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.143cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.143cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="4" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.524cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.524cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="5" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.905cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.905cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="6" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.286cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.286cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="7" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.667cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.667cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="8" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.048cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.048cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="9" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.429cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.429cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
    <text:list-level-style-number text:level="10" text:style-name="Numbering_20_Symbols"
        style:num-suffix="." style:num-format="1">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.81cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.81cm"/>
        </style:list-level-properties>
    </text:list-level-style-number>
</text:list-style>
<!--  Bulleted List  -->
<text:list-style style:name="europass_5f_bulleted_5f_list" style:display-name="europass_5f_bulleted_5f_list">
    <text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▪">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.381cm" fo:text-indent="-0.381cm"
                fo:margin-left="0.381cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▫">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.762cm" fo:text-indent="-0.381cm"
                fo:margin-left="0.762cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▪">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.143cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.143cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▫">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.524cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.524cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▪">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.905cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.905cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▫">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.286cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.286cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▪">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.667cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.667cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▫">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.048cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.048cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▪">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.429cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.429cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols"
        text:bullet-char="▫">
        <style:list-level-properties
            text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.81cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.81cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
</text:list-style>
<text:list-style style:name="europass_5f_bulleted_5f_list_indent1" style:display-name="europass_5f_bulleted_5f_list_indent1">
    <text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.381cm" fo:text-indent="-0.381cm"
                fo:margin-left="0.756cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.762cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.137cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.143cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.518cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.524cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.899cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.905cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.28cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.286cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.661cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.667cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.042cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.048cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.423cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.429cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.804cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.81cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.185cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
</text:list-style>
<text:list-style style:name="europass_5f_bulleted_5f_list_indent2" style:display-name="europass_5f_bulleted_5f_list_indent2">
    <text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.381cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.131cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.762cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.512cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.143cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.893cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.524cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.274cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.905cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.655cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.286cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.036cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.667cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.417cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.048cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.764cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.429cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.179cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.81cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.56cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
</text:list-style>
<text:list-style style:name="europass_5f_bulleted_5f_list_indent3" style:display-name="europass_5f_bulleted_5f_list_indent3">
    <text:list-level-style-bullet text:level="1" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.381cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.506cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="2" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="0.762cm" fo:text-indent="-0.381cm"
                fo:margin-left="1.887cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="3" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.143cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.268cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="4" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.524cm" fo:text-indent="-0.381cm"
                fo:margin-left="2.649cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="5" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="1.905cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.03cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="6" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.286cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.411cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="7" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="2.667cm" fo:text-indent="-0.381cm"
                fo:margin-left="3.792cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="8" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.048cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.173cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="9" text:style-name="Bullet_20_Symbols" text:bullet-char="▪">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.429cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.554cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
    <text:list-level-style-bullet text:level="10" text:style-name="Bullet_20_Symbols" text:bullet-char="▫">
        <style:list-level-properties text:list-level-position-and-space-mode="label-alignment">
            <style:list-level-label-alignment text:label-followed-by="listtab"
                text:list-tab-stop-position="3.81cm" fo:text-indent="-0.381cm"
                fo:margin-left="4.935cm"/>
        </style:list-level-properties>
        <style:text-properties fo:font-family="Segoe UI"/>
    </text:list-level-style-bullet>
</text:list-style>

<style:style 
	style:name="europass_5f_paragraph_5f_indented" 
	style:display-name="europass_paragraph_indented" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties 
		fo:margin="100%" 
		fo:margin-left="1cm" 
		fo:margin-right="0cm" 
		fo:text-indent="0cm" 
		style:auto-text-indent="false"/>
</style:style>

<style:style 
	style:name="europass_5f_paragraph_indent1" 
	style:display-name="europass_paragraph_indent1" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text" 
	>
	<style:paragraph-properties 
		fo:margin-left="3.75mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm" 
		style:auto-text-indent="false" 
		style:page-number="auto"/>
</style:style>
<style:style 
	style:name="europass_5f_paragraph_indent2" 
	style:display-name="europass_paragraph_indent2" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties 
		fo:margin-left="7.5mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm" 
		style:auto-text-indent="false"/>
</style:style>
<style:style 
	style:name="europass_5f_paragraph_indent3" 
	style:display-name="europass_paragraph_indent3" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties 
		fo:margin-left="11.25mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm" 
		style:auto-text-indent="false"/>
</style:style>

<!-- Text Align style -->

<style:style 
	style:name="europass_5f_paragraph_align_justify" 
	style:display-name="europass_paragraph_align_justify" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties 
			fo:text-align="justify" 
			style:justify-single-word="false"/>
</style:style>

<!-- Text Align and Indentation style -->

<style:style 
	style:name="europass_5f_paragraph_indent1_justify" 
	style:display-name="europass_paragraph_indent1_justify" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text" 
	>
	<style:paragraph-properties 
		fo:margin-left="3.75mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm" 
		fo:text-align="justify" 
		style:justify-single-word="false"
		style:auto-text-indent="false" 
		style:page-number="auto"/>
</style:style>
<style:style 
	style:name="europass_5f_paragraph_indent2_justify" 
	style:display-name="europass_paragraph_indent2_justify" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties
		fo:margin-left="7.5mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm"
		fo:text-align="justify" 
		style:justify-single-word="false"
		style:auto-text-indent="false"/>
</style:style>
<style:style 
	style:name="europass_5f_paragraph_indent3_justify" 
	style:display-name="europass_paragraph_indent3_justify" 
	style:family="paragraph" 
	style:parent-style-name="europass_5f_SectionDetails" 
	style:class="text">
	<style:paragraph-properties 
		fo:margin-left="11.25mm" 
		fo:margin-right="0mm" 
		fo:text-indent="0mm"
		fo:text-align="justify" 
		style:justify-single-word="false"
		style:auto-text-indent="false"/>
</style:style>

<text:notes-configuration text:note-class="footnote" style:num-format="1" text:start-value="0" text:footnotes-position="page" text:start-numbering-at="document"/>
<text:notes-configuration text:note-class="endnote" style:num-format="i" text:start-value="0"/>
<text:linenumbering-configuration text:style-name="Line_20_numbering" text:number-lines="false" text:offset="0.499cm" style:num-format="1" text:number-position="left" text:increment="5"/>
</office:styles>
<office:automatic-styles>
<style:style style:name="MP1" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_First_5f_Page_5f_Paragraph">
<style:paragraph-properties fo:margin-top="0.58cm" fo:margin-bottom="0cm"/>
</style:style>

<!-- NEW STYLE NO LOGO -->
        <style:style style:name="_ESP_Table10_No_Logo" style:family="table">
			<style:table-properties style:width="180mm"
				table:align="center" style:may-break-between-rows="false"
				table:border-model="separating" />
		</style:style>
		<style:style style:name="_ESP_Table10.A_No_Logo" style:family="table-column">
			<style:table-column-properties
				style:column-width="90mm" />
		</style:style>
		<style:style style:name="_ESP_Table10.B_No_Logo" style:family="table-column">
			<style:table-column-properties
				style:column-width="90mm" />
		</style:style>
		<style:style style:name="_ESP_Table10.1_No_Logo" style:family="table-row">
			<style:table-row-properties
				style:min-row-height="13.23mm" />
		</style:style>
		<style:style style:name="_ESP_Table10.A1_No_Logo" style:family="table-cell">
		<style:table-cell-properties fo:padding-top="1.4mm" fo:border="none" 
			fo:text-align="left"  style:vertical-align="middle"   />
		</style:style>
		<style:style style:name="_ESP_Table10.B1_No_Logo" style:family="table-cell">
			<style:table-cell-properties fo:padding-top="1.4mm" fo:border="none" 
			fo:text-align="right"  style:vertical-align="middle"   />
		</style:style>
		
		<style:style style:name="_ECV_Table10_No_Logo" style:family="table">
			<style:table-properties style:width="100%"
				table:align="center" style:may-break-between-rows="false"
				table:border-model="collapsing" />
		</style:style>
		<style:style style:name="_ECV_Table10.A_No_Logo" style:family="table-column">
			<style:table-column-properties
				style:column-width="5cm" />
		</style:style>
		<style:style style:name="_ECV_Table10.B_No_Logo" style:family="table-column">
			<style:table-column-properties
				style:column-width="13.335cm" />
		</style:style>
		<style:style style:name="_ECV_Table10.1_No_Logo" style:family="table-row">
			<style:table-row-properties
				style:min-row-height="13.23mm" />
		</style:style>
		<style:style style:name="_ECV_Table10.1_No_Logo_2nd_page" style:family="table-row">
			<style:table-row-properties
				style:row-height="8.5mm" />
		</style:style>
		<style:style style:name="_ECV_Table10.A1_No_Logo" style:family="table-cell">
		<style:table-cell-properties fo:padding-top="1.4mm" fo:padding-right="0.5cm" fo:border="none" 
			fo:text-align="end"  style:vertical-align="middle"   />
		</style:style>
		<style:style style:name="_ECV_Table10.B1_No_Logo" style:family="table-cell">
			<style:table-cell-properties fo:padding-top="1.4mm" fo:padding-right="0cm" fo:border="none" 
			fo:text-align="end"  style:vertical-align="middle"   />
		</style:style>
		
<style:style style:name="MP1_NO_LOGO" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_First_5f_Page_5f_Paragraph">
<style:paragraph-properties fo:keep-with-next="always" fo:margin="100%" fo:margin-bottom="0cm" fo:text-align="end" fo:background-color="transparent" style:line-break="strict">
<style:tab-stops/>
</style:paragraph-properties>
</style:style>

<style:style style:name="MT2_NO_LOGO" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="14pt" style:font-size-asian="14pt" style:font-size-complex="14pt" />
</style:style>

<style:style style:name="MP3_ESP_NO_LOGO" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Pages_5f_Paragraph">
<style:paragraph-properties fo:margin-left="0cm" style:contextual-spacing="false" fo:text-align="start" />
</style:style>

<style:style style:name="MP3_ECV_NO_LOGO" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Pages_5f_Paragraph">
<style:paragraph-properties fo:margin-left="0cm" style:contextual-spacing="false" fo:text-align="end" />
</style:style>

<style:style style:name="MP3_NAME_NO_LOGO" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Pages_5f_Paragraph" >
<style:paragraph-properties fo:margin-right="0cm" fo:padding-right="0cm" style:contextual-spacing="false" fo:text-align="end"/>
</style:style>

<style:style style:name="MT2_ESP_NO_LOGO" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="14pt" style:font-size-asian="14pt" style:font-size-complex="14pt" />
</style:style>
<style:style style:name="MT4_ESP_NO_LOGO" style:family="text">
<style:text-properties fo:color="#0e4194" style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="MT4_ECV_NO_LOGO" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>

<style:style style:name="_5f_ECV_5f_Next_5f_Pages_5f_Paragraph_No_Logo" style:display-name="_ECV_Next_Pages_Paragraph_No_Logo" style:family="paragraph" style:parent-style-name="_5f_ECV_5f_First_5f_Page_5f_Paragraph" style:class="extra">
<style:paragraph-properties fo:margin-top="0.27cm" fo:margin-bottom="0cm" fo:text-align="end" style:justify-single-word="false" style:vertical-align="bottom">
<style:tab-stops>
<style:tab-stop style:position="4.951cm"/>
<style:tab-stop style:position="18.256cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
</style:style>


<style:style style:name="MP2" style:family="paragraph" style:parent-style-name="Footer">
<style:paragraph-properties fo:text-align="start" style:justify-single-word="false" style:text-autospace="none">
<style:tab-stops>
<style:tab-stop style:position="5.001cm"/>
<style:tab-stop style:position="18.3cm" style:type="right"/>
</style:tab-stops>
</style:paragraph-properties>
<style:text-properties fo:color="#26b4ea" style:font-name="ArialMT" fo:font-size="7pt" style:font-name-asian="ArialMT" style:font-size-asian="7pt" style:font-name-complex="ArialMT" style:font-size-complex="7pt"/>
</style:style>
<style:style style:name="MP3" style:family="paragraph" style:parent-style-name="_5f_ESP_5f_Pages_5f_Paragraph">
<style:paragraph-properties fo:margin-top="0.27cm" fo:margin-bottom="0.4cm"/>
</style:style>
<style:style style:name="MT1" style:family="text">
<style:text-properties fo:color="#1593cb"/>
</style:style>
<style:style style:name="MT2" style:family="text">
<style:text-properties style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="MT3" style:family="text">
<style:text-properties fo:font-variant="normal" fo:text-transform="none" style:font-name="Arial" fo:font-size="10pt" style:font-size-asian="10pt" style:font-size-complex="10pt"/>
</style:style>
<style:style style:name="MT4" style:family="text">
<style:text-properties fo:color="#0e4194" style:font-name="Arial" fo:font-size="8pt" style:font-size-asian="8pt" style:font-size-complex="8pt"/>
</style:style>
<style:style style:name="MT5" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial" fo:font-size="7pt" style:font-size-asian="7pt" style:font-size-complex="7pt"/>
</style:style>
<style:style style:name="MT6" style:family="text">
<style:text-properties fo:color="#1593cb" style:font-name="Arial"/>
</style:style>
<style:style style:name="Mfr1" style:family="graphic" style:parent-style-name="Graphics">
<style:graphic-properties style:horizontal-pos="left" style:horizontal-rel="paragraph" style:mirror="none" fo:clip="rect(0cm, 0cm, 0cm, 0cm)" draw:luminance="0%" draw:contrast="0%" draw:red="0%" draw:green="0%" draw:blue="0%" draw:gamma="100%" draw:color-inversion="false" draw:image-opacity="100%" draw:color-mode="standard"/>
</style:style>
<style:page-layout style:name="Mpm1">
	<style:page-layout-properties fo:page-width="21.001cm" fo:page-height="29.7cm" style:num-format="1" style:print-orientation="portrait" fo:margin-top="1.199cm" fo:margin-bottom="1.101cm" fo:margin-left="1.499cm" fo:margin-right="1.199cm" style:shadow="none" fo:background-color="transparent" style:writing-mode="lr-tb" style:footnote-max-height="0cm">
	<style:background-image/>
	<style:columns fo:column-count="1" fo:column-gap="0cm"/>
	<style:footnote-sep style:width="0.018cm" style:distance-before-sep="0.101cm" style:distance-after-sep="0.101cm" style:adjustment="left" style:rel-width="25%" style:color="#000000"/>
	</style:page-layout-properties>
	<style:header-style>
	<style:header-footer-properties fo:min-height="2.2cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-bottom="0.9cm" style:shadow="none" fo:background-color="transparent" style:dynamic-spacing="false">
	<style:background-image/>
	</style:header-footer-properties>
	</style:header-style>
	<style:footer-style>
	<style:header-footer-properties svg:height="1.499cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="1cm" style:dynamic-spacing="false"/>
	</style:footer-style>
</style:page-layout>
<style:page-layout style:name="Mpm2">
<style:page-layout-properties fo:page-width="21.001cm" fo:page-height="29.7cm" style:num-format="1" style:print-orientation="portrait" fo:margin-top="1.499cm" fo:margin-bottom="1.101cm" fo:margin-left="1.499cm" fo:margin-right="1.199cm" style:shadow="none" fo:background-color="transparent" style:writing-mode="lr-tb" style:footnote-max-height="0cm">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
<style:footnote-sep style:width="0.018cm" style:distance-before-sep="0.101cm" style:distance-after-sep="0.101cm" style:adjustment="left" style:rel-width="25%" style:color="#000000"/>
</style:page-layout-properties>
<style:header-style>
<style:header-footer-properties fo:min-height="1.401cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-bottom="0.6cm" fo:background-color="transparent" style:dynamic-spacing="false">
<style:background-image/>
</style:header-footer-properties>
</style:header-style>
<style:footer-style>
<style:header-footer-properties svg:height="1.499cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="1cm" style:dynamic-spacing="false"/>
</style:footer-style>
</style:page-layout>
<style:page-layout style:name="Mpm3">
<style:page-layout-properties fo:page-width="21.001cm" fo:page-height="29.7cm" style:num-format="1" style:print-orientation="portrait" fo:margin-top="1cm" fo:margin-bottom="1cm" fo:margin-left="2cm" fo:margin-right="1cm" style:writing-mode="lr-tb" style:footnote-max-height="0cm">
<style:footnote-sep style:width="0.018cm" style:distance-before-sep="0.101cm" style:distance-after-sep="0.101cm" style:adjustment="left" style:rel-width="25%" style:color="#000000"/>
</style:page-layout-properties>
<style:header-style/>
<style:footer-style/>
</style:page-layout>
<style:page-layout style:name="Mpm4">
<style:page-layout-properties fo:page-width="21.001cm" fo:page-height="29.7cm" style:num-format="1" style:print-orientation="portrait" fo:margin-top="2cm" fo:margin-bottom="2cm" fo:margin-left="2cm" fo:margin-right="2cm" style:writing-mode="lr-tb" style:footnote-max-height="0cm">
<style:footnote-sep style:width="0.018cm" style:distance-before-sep="0.101cm" style:distance-after-sep="0.101cm" style:adjustment="left" style:rel-width="25%" style:color="#000000"/>
</style:page-layout-properties>
<style:header-style/>
<style:footer-style/>
</style:page-layout>
<style:page-layout style:name="Mpm5">
<style:page-layout-properties fo:page-width="21.001cm" fo:page-height="29.7cm" style:num-format="1" style:print-orientation="portrait" fo:margin-top="1.199cm" fo:margin-bottom="1.101cm" fo:margin-left="1.499cm" fo:margin-right="1.499cm" style:shadow="none" fo:background-color="transparent" style:writing-mode="lr-tb" style:footnote-max-height="0cm">
<style:background-image/>
<style:columns fo:column-count="1" fo:column-gap="0cm"/>
<style:footnote-sep style:width="0.018cm" style:distance-before-sep="0.101cm" style:distance-after-sep="0.101cm" style:adjustment="left" style:rel-width="25%" style:color="#000000"/>
</style:page-layout-properties>
<style:header-style>
<style:header-footer-properties fo:min-height="2.2cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-bottom="0.9cm" fo:background-color="transparent" style:dynamic-spacing="false">
<style:background-image/>
</style:header-footer-properties>
</style:header-style>
<style:footer-style>
<style:header-footer-properties svg:height="1.6cm" fo:margin-left="0cm" fo:margin-right="0cm" fo:margin-top="1.101cm" style:dynamic-spacing="false"/>
</style:footer-style>
</style:page-layout>

{{#DocumentInfo.withCoverLetter}}

[[> odt/partials/ecl-page-layout]]
{{/DocumentInfo.withCoverLetter}}

{{#DocumentInfo.withLanguagePassport}}

<!-- Include LP Page Layout -->
[[> odt/partials/elp-page-layout]]

<!-- Include LP automatic styles -->
[[> odt/partials/elp-automatic-styles-style]]

{{/DocumentInfo.withLanguagePassport}}

</office:automatic-styles>

<office:master-styles>
	<style:master-page style:name="Standard"
			style:page-layout-name="Mpm1"
			style:next-style-name="_5f_ECV_5f_Next_5f_Pages">
		[[> odt/partials/ecv-master-page-header-for-first-page]]
		<style:header-left>
			<text:p text:style-name="Header"/>
		</style:header-left>
		[[> odt/partials/ecv-master-page-footer-for-first-page]]
	</style:master-page>
			
	<style:master-page style:name="First_20_Page"
		style:display-name="First Page" style:page-layout-name="Mpm1"
		style:next-style-name="Standard" />
			
<!-- CV 1st page -->
<style:master-page style:name="_5f_ECV_5f_First_5f_Page"
	style:display-name="_ECV_First_Page" style:page-layout-name="Mpm1"
	style:next-style-name="_5f_ECV_5f_Next_5f_Pages">
	[[> odt/partials/ecv-master-page-header-for-first-page]]
	<style:header-left>
		<text:p text:style-name="Header"/>
	</style:header-left>
	[[> odt/partials/ecv-master-page-footer-for-first-page]]
</style:master-page>

<!-- CV 1st page after CL-->
<style:master-page style:name="_5f_ECV_5f_First_5f_Page_5f_After_5f_ECL"
	style:display-name="_ECV_First_Page_After_CL" style:page-layout-name="Mpm1"
	style:next-style-name="_5f_ECV_5f_Next_5f_Pages">
	[[> odt/partials/ecv-master-page-header-for-first-page]]
	[[> odt/partials/ecv-master-page-footer-for-first-page]]
</style:master-page>

<!--  CV next pages -->
<style:master-page style:name="_5f_ECV_5f_Next_5f_Pages" 
				   style:display-name="_ECV_Next_Pages" 
				   style:page-layout-name="Mpm2">
	<style:header>
	
	{{#DocumentInfo.EuropassLogo}}
	<text:p text:style-name="_5f_ECV_5f_Next_5f_Pages_5f_Paragraph">
	<draw:frame draw:style-name="Mfr1" draw:name="graphics9" text:anchor-type="paragraph" svg:width="2.76cm" svg:height="0.801cm" draw:z-index="7">
	<draw:image xlink:href="Pictures/100002010000017A0000006AEAC75F19.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
	<svg:title>[[#resources]][[& Accessibility:Europass:Logo]][[/resources]]</svg:title>
	</draw:frame>
		<text:tab/><text:span text:style-name="MT2">[[#resources]][[& Document:Header:CV]][[/resources]]<text:tab/></text:span>
	<text:span text:style-name="MT3">{{#LearnerInfo.Identification.PersonName}}{{{inOrder}}}{{/LearnerInfo.Identification.PersonName}}</text:span></text:p>
	{{/DocumentInfo.EuropassLogo}}
	{{^DocumentInfo.EuropassLogo}}
	 <table:table table:name="_ECV_Table10_No_Logo" table:style-name="_ECV_Table10_No_Logo">
					<table:table-column table:style-name="_ECV_Table10.A_No_Logo" />
					<table:table-column table:style-name="_ECV_Table10.B_No_Logo" />
					<table:table-row table:style-name="_ECV_Table10.1_No_Logo_2nd_page">
						<table:table-cell table:style-name="_ECV_Table10.A1_No_Logo" office:value-type="string">
						<text:p text:style-name="MP3_ECV_NO_LOGO">
							<text:span text:style-name="MT2">[[#resources]][[& Document:Header:CV]][[/resources]]</text:span></text:p>
						</table:table-cell>
						<table:table-cell table:style-name="_ECV_Table10.B1_No_Logo" office:value-type="string">
							<text:p text:style-name="MP3_NAME_NO_LOGO">
							<text:span text:style-name="MT4_ECV_NO_LOGO">{{#LearnerInfo.Identification.PersonName}}{{{inOrder}}}{{/LearnerInfo.Identification.PersonName}}</text:span></text:p>
						</table:table-cell>
			        </table:table-row>
	 </table:table>
	{{/DocumentInfo.EuropassLogo}}
	</style:header>
	<style:footer>
	<text:p text:style-name="MP2">
        {{#DocumentInfo.EuropassLogo}}<text:span text:style-name="MT1">{{#DocumentInfo}}{{formatLastUpdateDate}}{{/DocumentInfo}}</text:span>{{/DocumentInfo.EuropassLogo}}
		<text:tab/>
        {{#DocumentInfo.EuropassLogo}}<text:span text:style-name="MT1">[[#resources]][[& Document:Footer:EuropeanUnion]][[/resources]] | [[#resources]][[& Document:Footer:EuropassLink]][[/resources]] </text:span>{{/DocumentInfo.EuropassLogo}}
        <text:tab/>
        <text:span text:style-name="MT1">[[#resources]][[& Document:Footer:Paging]][[/resources]] <text:page-number text:select-page="current"> 3</text:page-number></text:span>
		<text:span text:style-name="MT1"> / </text:span><text:span text:style-name="MT1"><text:page-count>4</text:page-count></text:span></text:p>
	</style:footer>
</style:master-page>

<style:master-page style:name="_5f_ESP_5f_Pages" 
			       style:display-name="_ESP_Pages" 
			       style:page-layout-name="Mpm5">
	<style:header>
		{{#DocumentInfo.EuropassLogo}}
		<text:p text:style-name="MP3">
		<draw:frame draw:style-name="Mfr1" draw:name="graphics4" text:anchor-type="paragraph" svg:width="4.491cm" svg:height="1.3cm" draw:z-index="18">
		<draw:image xlink:href="Pictures/100002010000021300000095AD132CD4.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"/>
		<svg:title>[[#resources]][[& Accessibility:Europass:Logo]][[/resources]]</svg:title>
		</draw:frame><text:tab/><text:span text:style-name="MT2">[[#resources]][[& European:Skills:Passport:Annexes]][[/resources]]<text:line-break/><text:s/></text:span><text:span text:style-name="MT4">{{#LearnerInfo.Identification.PersonName}}{{{inOrder}}}{{/LearnerInfo.Identification.PersonName}}</text:span></text:p>
		{{/DocumentInfo.EuropassLogo}}
		{{^DocumentInfo.EuropassLogo}}
		     <table:table table:name="_ESP_Table10_No_Logo" table:style-name="_ESP_Table10_No_Logo">
					<table:table-column table:style-name="_ESP_Table10.A_No_Logo" />
					<table:table-column table:style-name="_ESP_Table10.B_No_Logo" />
					<table:table-row table:style-name="_ESP_Table10.1_No_Logo">
						<table:table-cell table:style-name="_ESP_Table10.A1_No_Logo" office:value-type="string">
						<text:p text:style-name="MP3_ESP_NO_LOGO">
							<text:span text:style-name="MT2_ESP_NO_LOGO">[[#resources]][[& European:Skills:Passport:Annexes]][[/resources]] </text:span></text:p></table:table-cell>
						<table:table-cell table:style-name="_ESP_Table10.B1_No_Logo" office:value-type="string">
							<text:p text:style-name="MP3_NAME_NO_LOGO">
							<text:span text:style-name="MT4_ESP_NO_LOGO">{{#LearnerInfo.Identification.PersonName}}{{{inOrder}}}{{/LearnerInfo.Identification.PersonName}}</text:span></text:p></table:table-cell></table:table-row>
			 </table:table>
		{{/DocumentInfo.EuropassLogo}}
	</style:header>
	<style:footer>
		<text:p text:style-name="Footer_20_left">
        {{#DocumentInfo.EuropassLogo}}<text:span text:style-name="MT5">{{#DocumentInfo}}{{formatLastUpdateDate}}{{/DocumentInfo}}</text:span>{{/DocumentInfo.EuropassLogo}}
        <text:tab/>
        {{#DocumentInfo.EuropassLogo}}<text:span text:style-name="MT5">[[#resources]][[& Document:Footer:EuropeanUnion]][[/resources]] | [[#resources]][[& Document:Footer:EuropassLink]][[/resources]] </text:span>{{/DocumentInfo.EuropassLogo}}
		<text:tab/>
		<text:span text:style-name="MT5">[[#resources]][[& Document:Footer:Paging]][[/resources]] <text:page-number text:select-page="current"> 4</text:page-number></text:span>
		<text:span text:style-name="MT5"> / </text:span><text:span text:style-name="MT5"><text:page-count>4</text:page-count></text:span><text:span text:style-name="MT5"><text:tab/><text:tab/></text:span><text:span text:style-name="MT6"> <text:s text:c="159"/></text:span></text:p>
	</style:footer>
</style:master-page>

{{#DocumentInfo.withCoverLetter}}
<!-- Include CL Master Page -->
<style:master-page 
	style:name="_5f_CL_5f_PageStyle" 
	style:display-name="_CL_PageStyle" 
	style:page-layout-name="CLPageLayout">
	<style:header/>
	<style:footer>
		<text:p text:style-name="Footer_20_left">
			<text:span text:style-name="MT5"></text:span><text:tab/>
			<text:span text:style-name="MT5"><text:tab/>[[#resources]][[& Document:Footer:Paging]][[/resources]]</text:span>
			<text:span text:style-name="MT5"> <text:page-number text:select-page="current"> 4</text:page-number></text:span>
			<text:span text:style-name="MT5"> / </text:span>
			<text:span text:style-name="MT5"><text:page-count>4</text:page-count></text:span>
			<text:span text:style-name="MT5"><text:tab/><text:tab/></text:span><text:span text:style-name="MT6"> <text:s text:c="159"/></text:span></text:p>
	</style:footer>
</style:master-page>
{{/DocumentInfo.withCoverLetter}}

{{#DocumentInfo.withLanguagePassport}}

<style:master-page style:name="_5f_ELP_5f_First_5f_Page_5f_After_5f_ECV"
	style:display-name="_ELP_First_Page_After_CV" style:page-layout-name="_LP_Mpm2"
	style:next-style-name="_5f_ELP_5f_Common_5f_Pages">
	[[> odt/partials/elp-master-page-header-for-first-page]]
	[[> odt/partials/elp-master-page-footer-for-first-page]]
</style:master-page>


  [[> odt/partials/elp-master-styles]]
 
 
  {{/DocumentInfo.withLanguagePassport}}

</office:master-styles>
</office:document-styles>
