<fieldset class="cloud-load-document important-confirmation confirmation">

    <fieldset class="feedback-area">
        <section class="notification confirm">
            <p>{{get_text "cloudLogin.modal.confirmation.load.cv.detail.info" group="EditorHelp"}}</p>
            <p>{{get_text "cloudLogin.modal.confirmation.load.cv.question" group="EditorHelp"}}</p>
        </section>
    </fieldset>

    <menu label="Manage" class="confirm-dialog remote-upload">
        <button type="button" class="confirm-save load-cv-document blue button">{{get_text "cloudLogin.modal.confirmation.save" group="GuiLabel"}}</button>
        <button type="button" class="confirm-discard-load load-cv-document blue button">{{get_text "cloudLogin.modal.confirmation.discard" group="GuiLabel"}}</button>
    </menu>

</fieldset>