
	<fieldset class="delete-item important-confirmation">
		<fieldset class="feedback-area">	
			<section class="delete message-area notification {{state}}">
				{{get_text "ConfirmationDialog.Message" group="EditorHelp"}}
			</section>
		</fieldset>
						
		<menu class="confirm-dialog delete-model">
			<button type="button" class="confirm-cancel delete-model button">{{get_text "Buttons.Cancel" group="GuiLabel"}}</button>
			<button type="button" class="confirm-submit delete-model green button">{{get_text "Buttons.OK" group="GuiLabel"}}</button>
		</menu>
	</fieldset>
