
<fieldset class="remote-upload important-confirmation confirmation">
    <fieldset class="feedback-area">
        <section class="notification confirm">
            {{message}}
        </section>
    </fieldset>
    <menu label="Manage" class="confirm-dialog remote-upload">
        <button type="button" class="confirm-cancel upload-confirm button">{{get_text "Buttons.Cancel" group="GuiLabel"}}</button>
        <button type="button" class="confirm-submit upload-confirm green button">{{get_text "Buttons.Upload" group="GuiLabel"}}</button>
    </menu>

</fieldset>