<fieldset class="save-item important-confirmation">
    <menu class="confirm-dialog save-model">
        <button type="button" class="confirm-cancel save-model button">{{get_text "Buttons.Cancel" group="GuiLabel"}}</button>
        <button type="button" class="confirm-submit save-model green button">{{get_text "Buttons.Save" group="GuiLabel"}}</button>
    </menu>
</fieldset>